<div class="content clickable" *ngIf="event">
  {{ content }}<span *ngIf="event.contentCut">... (message was truncated)</span>
  <div class="event-images" *ngIf="images && images.length > 0">
    <img class="event-image" [src]="image" (click)="expandImage(image)" *ngFor="let image of images" />
  </div>
  <!-- <span class="dimmed">{{ likes(event) }} likes&nbsp;&nbsp;{{ dislikes(event) }} dislikes&nbsp;&nbsp;{{ replies(event) }} replies</span><br /> -->
  <div *ngIf="repliesTo(event) as replies" class="dimmed clickable">
    <br />
    <span class="clickable" *ngIf="replies.length > 0">Replying to </span>
    <app-reply-list [keys]="replies"></app-reply-list>
  </div>
  <mat-chip-set class="hashtags">
    <mat-chip *ngFor="let tag of hashtags(event.tags)">#{{ tag }}</mat-chip>
  </mat-chip-set>
</div>
