<div class="content clickable" *ngIf="event">
  <div class="event-images" *ngIf="images && images.length > 0">
    <img mat-card-image class="event-image" loading="lazy" decoding="async" [src]="image" (click)="expandImage(image)" *ngFor="let image of images" />
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" /> -->
  </div>
  <div class="event-videos" *ngIf="youtube && youtube.length > 0">
    <ng-template ngFor let-video [ngForOf]="youtube">
      <iframe id="ytplayer" class="event-video" type="text/html" [src]="video.url" frameborder="0" allowfullscreen></iframe>
      <button mat-button (click)="enque(video.originalUrl, 'YouTube')">Add to Media Player queue</button>
    </ng-template>
  </div>

  <div class="event-videos" *ngIf="videos && videos.length > 0">
    <ng-template ngFor let-video [ngForOf]="videos">
      <video class="event-video" controls preload="none">
        <source [src]="video.url" type="video/mp4" />
      </video>
      <button mat-button (click)="enque(video.originalUrl, 'Video')">Add to Media Player queue</button>
    </ng-template>
  </div>

  <!-- <div class="container-16-9">
  </div> -->

  <ng-template [ngIf]="spotify">
    <!-- {{spotify | json}} -->
    <iframe
      *ngFor="let song of spotify"
      style="border-radius: 12px"
      [src]="song"
      width="100%"
      height="152"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
  </ng-template>

  <ng-template [ngIf]="tidal">
    <!-- {{spotify | json}} -->
    <iframe
      *ngFor="let song of tidal"
      style="border-radius: 12px"
      [src]="song"
      width="100%"
      height="152"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
  </ng-template>

  <!-- <div id="embed-iframe"></div> -->

  <!-- <div class="container-16-9">
    <video controls preload="none">
      <source src="video.mp4" type='video/mp4' />
    </video>
  </div> -->

  <!-- <div style="--aspect-ratio: 21/9;">
    <video...></video>
  </div> -->

  <!-- <span class="event-content clickable" [ngClass]="{ 'event-content-big': content && content.length < 7 }">{{ content }}</span><span *ngIf="event.contentCut">... (message was truncated)</span> -->

  <span class="event-content clickable" [ngClass]="{ 'event-content-big': content && content.length < 7 }">
    <ng-container *ngFor="let token of dynamicText">
      <ng-template [ngIf]="isString(token)">{{ token }}</ng-template>
      <ng-template [ngIf]="!isString(token)" [ngSwitch]="token.token">
        <ng-container *ngSwitchCase="'username'"><a class="reply-link" [routerLink]="['/p', token.word]">@{{ getDisplayName(token.word) }}</a></ng-container>
        <ng-container *ngSwitchCase="'link'"><a [href]="[token.word]" target="_blank">{{ token.word }}</a></ng-container>
        <ng-container *ngSwitchCase="'linebreak'"><br /></ng-container>
      </ng-template>

      <!-- <ng-container *ngIf="isNewline(token)"><br /></ng-container>
      <ng-container *ngIf="isString(token)">{{ token }}</ng-container>
      <ng-container *ngIf="!isString(token)"><b [matTooltip]="getTooltip(token)" style="cursor: pointer"> {{ getWord(token) }} </b></ng-container> -->
    </ng-container>

    <span *ngIf="event.contentCut">... (message was truncated)</span>
  </span>

  <!-- <span class="dimmed">{{ likes(event) }} likes&nbsp;&nbsp;{{ dislikes(event) }} dislikes&nbsp;&nbsp;{{ replies(event) }} replies</span><br /> -->
  <ng-template [ngIf]="displayRepliesTo">
    <div *ngIf="repliesTo(event) as replies" class="reply-to dimmed clickable">
      <span class="clickable" *ngIf="replies.length > 0">Replying to </span>
      <app-reply-list [keys]="replies"></app-reply-list>
    </div>
  </ng-template>
  <mat-chip-set class="hashtags">
    <mat-chip *ngFor="let tag of hashtags(event.tags)">#{{ tag }}</mat-chip>
  </mat-chip-set>
</div>
