<button *ngIf="!fab" class="action-button" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon class="action-button-icon">more_vert</mat-icon>
</button>

<button *ngIf="fab" mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="saveNote()" *ngIf="event && !event.saved" [matMenuTriggerFor]="labelMenu">
    <mat-icon>bookmark_add</mat-icon>
    <span>Bookmark</span>
  </button>

  <button mat-menu-item (click)="removeNote()" *ngIf="event && event.saved">
    <mat-icon>bookmark_remove</mat-icon>
    <span>Remove from Bookmarks</span>
  </button>

  <button mat-menu-item [matMenuTriggerFor]="labelMenu" *ngIf="event && event.saved">
    <mat-icon>new_label</mat-icon>
    <span>Set Label</span>
  </button>

  <button mat-menu-item [matMenuTriggerFor]="copyMenu" (click)="copyNoteId(event!.id)">
    <mat-icon>copy_all</mat-icon>
    <span>Copy</span>
  </button>

  <button mat-menu-item [matMenuTriggerFor]="shareMenu">
    <mat-icon>ios_share</mat-icon>
    <span>Share</span>
  </button>
</mat-menu>

<mat-menu #copyMenu="matMenu">
  <button mat-menu-item *ngIf="event" (click)="copyNoteId(event!.id)">
    <mat-icon>content_copy</mat-icon>
    <span>Note ID (note)</span>
  </button>
  <button mat-menu-item *ngIf="event" (click)="copyNoteEventId(event!.id)">
    <mat-icon>content_copy</mat-icon>
    <span>Note ID (nevent)</span>
  </button>
  <button mat-menu-item *ngIf="event" (click)="copy(event!.id)">
    <mat-icon>content_copy</mat-icon>
    <span>Note ID (hex)</span>
  </button>
  <button mat-menu-item *ngIf="event" (click)="copyNoteUrl(event!.id)">
    <mat-icon>content_copy</mat-icon>
    <span>Note URL (nevent)</span>
  </button>
  <button mat-menu-item *ngIf="event" (click)="copyEvent()">
    <mat-icon>content_copy</mat-icon>
    <span>Note Data</span>
  </button>
</mat-menu>

<mat-menu #shareMenu="matMenu">
  <button mat-menu-item (click)="copy('https://notes.blockcore.net/e/' + event!.id)">
    <mat-icon>content_copy</mat-icon>
    <span>Note URL</span>
  </button>
</mat-menu>

<mat-menu #labelMenu="matMenu">
  <button *ngFor="let label of labelService.labels" mat-menu-item (click)="setLabel(label.id)">
    <mat-icon>label</mat-icon>
    <span>{{ label.name }}</span>
  </button>
</mat-menu>
