<div class="feed-page">
  <div class="options">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Options</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>

        <div class="options-buttons">
          <button mat-stroked-button>Issue badge</button>
          <button mat-stroked-button routerLink="/editor/badges">Badge Editor</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">verified</mat-icon>
        <span *ngIf="(appState.displayLabels$ | async) === false">&nbsp;Accepted</span>
      </ng-template>
      <ng-template matTabContent>
        <div class="badges">
          <mat-card class="badge-card">
            <mat-card-header class="badge-header">
              <mat-card-title>Verified Human Badge</mat-card-title>
              <mat-card-subtitle>Human</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/badge-512x512.png" />
            <mat-card-content>
              <p>Badge earned by Fully Verified Humans.</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button>PUT ON PROFILE</button>
              <button mat-stroked-button>HIDE</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="badge-card">
            <mat-card-header class="badge-header">
              <mat-card-title>Liberstad Membership Organization</mat-card-title>
              <mat-card-subtitle>liberstad-member</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/badge-512x512.png" />
            <mat-card-content>
              <p>Verified One Year Membership.</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button>PUT ON PROFILE</button>
              <button mat-stroked-button>HIDE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">emoji_events</mat-icon>
        <span *ngIf="(appState.displayLabels$ | async) === false">&nbsp;Awarded</span>
      </ng-template>
      <ng-template matTabContent>
        <div class="badges">
          <mat-card class="badge-card">
            <mat-card-header class="badge-header">
              <mat-card-title>Verified Human Badge</mat-card-title>
              <mat-card-subtitle>Human</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/badge-512x512.png" />
            <mat-card-content>
              <p>Badge earned by Fully Verified Humans.</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button>PUT ON PROFILE</button>
              <button mat-stroked-button>HIDE</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="badge-card">
            <mat-card-header class="badge-header">
              <mat-card-title>Liberstad Membership Organization</mat-card-title>
              <mat-card-subtitle>liberstad-member</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/badge-512x512.png" />
            <mat-card-content>
              <p>Verified One Year Membership.</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button>PUT ON PROFILE</button>
              <button mat-stroked-button>HIDE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">badge</mat-icon>
        <span *ngIf="(appState.displayLabels$ | async) === false">&nbsp;Created</span>
      </ng-template>
      <ng-template matTabContent>
        <div class="badges">
          <app-badge-card [badge]="badge" *ngFor="let badge of badgeService.definitions">
            <button class="badge-card-button" [disabled]="'disabled'" mat-stroked-button>ISSUE BADGE</button>
            <button class="badge-card-button" (click)="edit(badge)" mat-stroked-button>EDIT</button>
          </app-badge-card>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
