:host {
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.flex-height {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.menu-link {
    display: inline-block;
    padding-right: 16px;
    padding-bottom: 8px;
    cursor: pointer;
}

.action-link {
    display: inline-block;
    cursor: pointer;
}

li.instruction {
    padding-bottom: 16px;
}

.rounded-button {
    border-radius: 16px;
    margin-top: 0.24em;
    margin-right: 0.5em;
    margin-bottom: 12px;
}

.settings-card {
    margin: 16px 32px 16px 0px;
}

.settings-card.edit {
    background-color: aliceblue;
}

.input-full-width {
    width: 100%;
    background-color: white;
}

.new-post-button {
    // width: 92px;
    // height: 92px;
    // position: fixed;
    // bottom: 2em;
    // left: 2.9em;
    cursor: pointer;
    transition: opacity 250ms ease;
}

.new-post-button:hover {
    opacity: 0.6;
}

.field-label {
    font-weight: bold;
    margin-top: 4px;
}

.label-only-anchor {
    position: relative;
    left: 66px;
    top: 22px;
    width: 300px;
}

.action-icon {
    margin-right: 4px;
    cursor: pointer;
    font-size: 14px;
    display: inline;
}
.top-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.top-menu-left {
    display: flex;
    flex-grow: 1;
}

.top-menu-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.intro {
    padding: 8px;
    background-color: floralwhite;
    border-radius: 20px;
}

p {
    margin: 4px 0px;
}