<div class="top-menu" *ngIf="wallet">
    <div mat-dialog-actions class="top-menu-left">
        <button *ngIf="wallet.isInSession && displayType !== DisplayType.ChannelList" class="rounded-button"
            mat-flat-button color="primary" (click)="listChannels()" style="display: block;">
            &lt; Channel List
        </button>
        <button *ngIf="wallet.isInSession && displayType !== DisplayType.SentRSVPs" class="rounded-button"
            mat-flat-button color="secondary" (click)="sentRvps()" style="display: block;">
            Sent RSVPs
        </button>
    </div>
    <div mat-dialog-actions class="top-menu-right">
        <button *ngIf="wallet.isGuest" class="rounded-button" mat-flat-button color="secondary"
            (click)="randomizeKey()">Randomize</button>
        <button *ngIf="wallet.isGuest" class="rounded-button" mat-flat-button color="primary"
            (click)="saveConfiguration()">Save Configuration</button>
        <button *ngIf="!wallet.isGuest && !wallet.isInSession" class="rounded-button" mat-flat-button color="primary"
            (click)="nip76Service.login()">Start Secure Session</button>
        <button *ngIf="!wallet.isGuest && wallet.isInSession && !activeChannelId" class="rounded-button" mat-flat-button
            color="secondary" (click)="createChannel()">Create Channel</button>
        <button *ngIf="!wallet.isGuest && wallet.isInSession" class="rounded-button" mat-flat-button color="secondary"
            (click)="readInvitation()">Read Invitation</button>
        <button *ngIf="wallet.isInSession" class="rounded-button" mat-flat-button color="primary"
            (click)="nip76Service.logout()">End Secure Session</button>
    </div>
</div>
<div *ngIf="wallet?.documentsIndex" class="flex-height">
    <div [ngSwitch]="displayType" class="flex-height">
        <div *ngSwitchCase="DisplayType.GuestUser">
            <p>NIP 76 Private Channels are not initialized for this profile yet.</p>
            <p>To get started:</p>
            <ol>
                <li class="instruction">
                    <a class="action-link" (click)="randomizeKey()">Randomize</a> the keys. (OPTIONAL).
                </li>
                <li class="instruction">
                    <a class="action-link" (click)="saveConfiguration()">Save</a> it to begin using.
                </li>
            </ol>
            <div *ngIf="editChannel">
                <mat-form-field class="input-full-width" appearance="fill">
                    <mat-label>Index</mat-label>
                    <input matInput type="text" [value]="editChannel.dkxPost.signingParent.nostrPubKey" readonly />
                </mat-form-field>
                <mat-form-field class="input-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" [(ngModel)]="editChannel.content.name" />
                </mat-form-field>
                <mat-form-field class="input-full-width">
                    <mat-label>About</mat-label>
                    <input matInput type="text" [(ngModel)]="editChannel.content.about" />
                </mat-form-field>
            </div>
        </div>
        <div *ngSwitchCase="DisplayType.ChannelList">
            <mat-card class="settings-card" *ngFor="let channel of wallet.channels">
                <mat-card-content>
                    <div class="events-header">
                        <app-nip76-channel [channel]="channel">
                        </app-nip76-channel>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div *ngSwitchCase="DisplayType.SingleChannel" class="flex-height">
            <app-nip76-channel [channel]="activeChannel!" [displayType]="'Notes'" [showDisplayOptions]="false">
            </app-nip76-channel>
        </div>
        <div *ngSwitchCase="DisplayType.SentRSVPs">
            <app-nip76-rsvps-sent></app-nip76-rsvps-sent>
        </div>
    </div>
</div>