<div class="top-menu" *ngIf="wallet">
    <div mat-dialog-actions class="top-menu-left">
        <button *ngIf="wallet.isReady && displayType !== DisplayType.ChannelList" class="rounded-button"
            mat-flat-button color="primary" (click)="listChannels()" style="display: block;">
            &lt; Channel List
        </button>
        <button *ngIf="wallet.isReady && displayType === DisplayType.ChannelList" class="rounded-button"
            mat-flat-button color="secondary" (click)="createChannel()">
            Create Channel
        </button>
        <button *ngIf="wallet.isReady && displayType !== DisplayType.SentRSVPs" class="rounded-button"
            mat-flat-button color="secondary" (click)="readInvitation()">
            Read Invitation
        </button>
        <button *ngIf="wallet.isReady && displayType !== DisplayType.SentRSVPs" class="rounded-button"
            mat-flat-button color="secondary" (click)="sentRvps()" style="display: block;">
            View Sent RSVPs
        </button>
    </div>
    <div mat-dialog-actions class="top-menu-right">
        <button *ngIf="!wallet.isGuest && !wallet.isReady" class="rounded-button" mat-flat-button color="primary"
            (click)="nip76Service.login()">
            Start Secure Session
        </button>
        <button *ngIf="wallet.isReady" class="rounded-button" mat-flat-button color="primary"
            (click)="nip76Service.logout()">
            End Secure Session
        </button>
        <button *ngIf="displayType === DisplayType.GuestUser" class="rounded-button" mat-flat-button color="primary"
            (click)="initPrivateChannels()">
            Initialize Private Channels
        </button>
    </div>
</div>
<div class="flex-height">
    <div [ngSwitch]="displayType" class="flex-height">
        <div *ngSwitchCase="DisplayType.GuestUser">
            <p>NIP 76 Private Channels are not initialized for this profile yet.</p>
        </div>
        <div *ngSwitchCase="DisplayType.ChannelList">
            <div *ngIf="wallet.isReady">
                <mat-card class="intro" *ngIf="showHelp">
                    <b>Thanks for coming to checkout the Nip76 Private Channels Demo.</b>
                    <p>
                        You have no channels yet. You can create one of your own and invite others
                        or read an invitation to another's channel.
                    </p>
                    <p>
                        Here is an invitation
                        from a Demo user named <a class="action-link" (click)="copyDemoInvitation('Alice')">Alice</a>.
                        The password is "test".
                    </p>
                </mat-card>
                <mat-card class="settings-card" *ngFor="let channel of wallet.channels">
                    <mat-card-content>
                        <div class="events-header">
                            <app-nip76-channel [channel]="channel">
                            </app-nip76-channel>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div *ngSwitchCase="DisplayType.SingleChannel" class="flex-height">
            <app-nip76-channel [channel]="activeChannel!" [displayType]="'Notes'" [showDisplayOptions]="false">
            </app-nip76-channel>
        </div>
        <div *ngSwitchCase="DisplayType.SentRSVPs">
            <app-nip76-rsvps-sent></app-nip76-rsvps-sent>
        </div>
    </div>
</div>