<!-- <mat-progress-bar *ngIf="!events || events.length == 0" mode="indeterminate"></mat-progress-bar> -->

<div class="feed-page">
  <p>These are all identities cached in Blockcore Notes. You can choose to follow and verify different identities here. You can also delete all identities to reduce storage usage.</p>

  <mat-accordion class="options">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Options</mat-panel-title>
        <mat-panel-description>Identities cached: {{ profiles.length }}</mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <button mat-stroked-button (click)="clearIdentities()">Clear Identities Cache</button>
      </p>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="centered" style="width: 100%" *ngIf="loading">
    <br />
    <mat-spinner class="loading"></mat-spinner>
  </div>

  <div *ngIf="!loading">
    <div class="events" *ngFor="let profile of profiles">
      <button class="action-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="action-button-icon">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="categories">
          <mat-icon>dialpad</mat-icon>
          <span>Follow</span>
        </button>
        <!-- <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button> -->
      </mat-menu>

      <mat-menu #categories="matMenu">
        <button mat-menu-item>Inner Circle</button>
        <button mat-menu-item>Outer Circle</button>
        <!-- <button mat-menu-item>Crustaceans</button>
        <button mat-menu-item>Corals</button>
        <button mat-menu-item>Arachnids</button>
        <button mat-menu-item>Velvet worms</button>
        <button mat-menu-item>Horseshoe crabs</button> -->
      </mat-menu>

      <div class="event-header">
        <div class="icon">
          <a [routerLink]="['/user', profile.pubkey]"><app-profile-image [publicKey]="profile.pubkey"></app-profile-image></a>
        </div>
        <div class="name">
          <a [routerLink]="['/user', profile.pubkey]"><app-profile-name [publicKey]="profile.pubkey"></app-profile-name></a>
        </div>
        <div class="date">
          <!-- <span class="event-date" [matTooltip]="profile.id!" matTooltipPosition="below">{{ profile.created_at | ago }}</span> -->
          <app-directory-icon [publicKey]="profile.pubkey"></app-directory-icon>
        </div>
      </div>
      <div class="content">
        {{ profile.about }}
      </div>
    </div>
  </div>

  <!-- <div class="events" *ngFor="let profile of profiles">
      <div class="event-header">
        <div class="icon"><img src="assets/profile.jpg" /></div>
        <div class="name">{{ profile.pubkey }}</div>
      </div>
      <div class="content">
        {{ profile.about }}
      </div>
    </div>
  </div> -->
</div>

<!-- <mat-list>
  <div mat-subheader>Latest 100 Events</div>
  <mat-list-item *ngFor="let event of events; trackBy: trackByFn">
    <mat-icon matListItemIcon>text_snippet</mat-icon> -->
<!-- <div matListItemTitle>{{ event.pubkey }} - {{ event.kind }}-{{ event.id }}</div> -->
<!-- <div matListItemTitle>{{ event.content }}</div>
    <div matListItemLine>{{ event.created_at | ago }}</div>
  </mat-list-item>
</mat-list> -->

<!-- <div *ngFor="let event of events; trackBy: trackByFn">{{event.content}}</div> -->
