<mat-nav-list>
  <div class="search">
    <mat-form-field appearance="fill" class="input-full-width">
      <input matInput type="text" placeholder="Search..." />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <ng-container *ngFor="let chat of ui.chats$ | async; let lastItem = last">
    <mat-list-item>
      <img alt="" matListItemAvatar [src]="chat.picture" />
      <span matListItemTitle>{{ chat.name }}</span>
      <span matListItemLine class="last-message">{{ chat.about }}</span>
      <span matListItemLine><app-profile-name [pubkey]="chat.pubkey"></app-profile-name></span>
      <!-- <span *ngIf="chat.lastMessageLength" [matBadge]="chat.lastMessageLength" matBadgeOverlap="false" matBadgePosition="above before" matBadgeColor="warn"></span> -->
    </mat-list-item>
    <!-- <app-chat-item [routerLink]="['/m', chat.id]" [chat]="chat"></app-chat-item> -->
    <mat-divider *ngIf="!lastItem"></mat-divider>
  </ng-container>

  <!-- <ng-container *ngFor="let event of chatService.chats2$ | async; let lastItem = last">
    <app-chat-item [routerLink]="['/m', '5f432a9f39b58ff132fc0a4c8af10d42efd917d8076f68bb7f2f91ed7d4f6a41']" [event]="event"></app-chat-item>
    <mat-divider *ngIf="!lastItem"></mat-divider>
  </ng-container> -->
</mat-nav-list>

<!-- <div *ngFor="let chat of chatService.chats3">{{ chat.pubkey }} : {{ chat.content }}</div> -->

<!-- <div *ngIf="chatService.uniqueChats$ | async as chats">
  <div *ngFor="let chat of chats">{{ chat.pubkey }} : {{ chat.content }}</div>
</div> -->

<!-- <div *ngIf="chats$ | async as chats">
  <div *ngFor="let chat of chats">{{ chat.id }} : {{ chat.name }}</div>
</div> -->

<!-- <button (click)="add()">Add</button>

<button (click)="reset()">Reset</button>

<button (click)="chatService.download()">Download</button> -->

<!-- <app-chat-list (openChatSidebar)="open.chatSideBar($event)"></app-chat-list> -->

<!-- <mat-sidenav-container class="drawer-container" autosize>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Messages">
      <app-chat-list (openChatSidebar)="open.chatSideBar($event)"></app-chat-list>
    </mat-tab>
    <mat-tab label="Users">
      <app-user-list (openUserSidebar)="open.userSideBar($event)"></app-user-list>
    </mat-tab>
  </mat-tab-group>
  <mat-sidenav #chatSidebar class="sidebar sidebar--message" mode="side" position="start">
    <mat-toolbar class="zIndexTop" color="primary">
      <mat-toolbar-row>
        <mat-icon class="button" aria-hidden="false" (click)="chatSidebar.close()">arrow_back_ios</mat-icon>
        <span class="spacer"> {{sidebarTitles.chat}} </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-chat-detail></app-chat-detail>
  </mat-sidenav>
  <mat-sidenav #userSidebar class="sidebar sidebar--user" mode="over" position="end">
    <mat-toolbar class="zIndexTop" color="primary">
      <mat-toolbar-row>
        <span class="spacer"> {{sidebarTitles.user}} </span>
        <mat-icon class="button" aria-hidden="false" (click)="userSidebar.close()">close</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-user-profile (openChatWindow)="open.chatSideBar($event)"></app-user-profile>
  </mat-sidenav>
</mat-sidenav-container> -->
