/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.connect-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.connect-menu {
  border-bottom: 1px solid silver;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: white;
  padding: 1em;
  display: flex;
  z-index: 1000;
  box-sizing: border-box;
}

.connect-logo {
  flex-grow: 1;
}

.logo-text {
  font-size: 1.6em;
  color: rgba(0, 0, 0, 0.85);
  margin-left: 140px;
  font-weight: 700;
}

.connect-spacer {
  flex-grow: 3;
  max-width: 800px;
}

.connect-button {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-end;
}

.start-button {
  border-radius: 40px;
  min-width: 140px;
  font-size: 0.9em;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  background-color: #9f0771 !important;
}

.skip-button {
  border-radius: 40px;
  min-width: 140px;
  font-size: 0.9em;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
}

.connect-content {
  margin-top: 80px;
  background: transparent url("/assets/bg.jpg") no-repeat right center;
  background-size: cover;
  background-attachment: fixed;
}

.card {
  background-color: white;
  max-width: 1140px;
  border-radius: 30px;
  margin-left: 11em;
  margin-right: 2em;
  padding: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.card h1 {
  margin-bottom: 1.4em;
}

.consent-card {
  margin-bottom: 2em;
}

.warn {
  background-color: #9f0771;
  color: #f0f0f0;
}

.warn a {
  color: white;
}

.warn a:hover {
  color: rgb(218, 218, 218);
}

@keyframes float {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }
  50% {
    transform: perspective(400px) rotateY(30deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
  }
}

.consent-required {
  padding: 2em;
}

.connect-logo {
  position: fixed;
  width: 128px;
  height: 128px;
  margin-top: 0em;
  margin-left: 0em;
  transform: translate3d(-50%, -50%, 0);
  animation: float 6s ease-in-out infinite;
  z-index: 10000;
}

.screenshot {
  border-radius: 20px 0 0 20px;
  margin-left: 8em;
  background: transparent url("/assets/blockcore-notes-screenshot.png") no-repeat left center;
  height: 776px;
}

@media only screen and (max-width: 760px) {
  .connect-logo {
    width: 96px;
    height: 96px;
    margin-top: 1em;
    margin-left: 1em;
  }

  .screenshot {
    margin-left: 2em;
  }

  .card {
    font-size: 0.8em;
    margin-left: 4em;
    margin-right: 1em;
    padding: 2em;
  }

  .first-card {
    margin-top: 4em;
  }
}

@media only screen and (max-width: 700px) {
  .hide-tiny {
    display: none;
  }

  .connect-logo {
    width: 64px;
    height: 64px;
    margin-top: -0.47em;
    margin-left: 0em;
  }

  .logo-text {
    margin-left: 84px;
    margin-top: 0.6em;
    font-size: 1.2em;
  }
}
