<div class="connect-container">
  <div class="connect-menu mat-app-background">
    <img class="connect-logo" width="128" height="128" src="assets/icons/icon-256x256.webp" />
    <div class="logo-text"><span class="hide-tiny">Blockcore</span> Notes</div>
    <div class="connect-spacer"></div>
    <button (click)="theme.darkMode = !theme.darkMode" mat-icon-button class="theme-toggle">
      <mat-icon aria-label="Menu" class="material-icons">{{ theme.darkMode ? "dark_mode" : "light_mode" }}</mat-icon>
    </button>
    <div class="connect-button" *ngIf="searchingForExtension">
      <button class="start-button" mat-flat-button color="accent">
        <mat-spinner class="spinner" color="accent" diameter="30"></mat-spinner>
      </button>
    </div>
    <div class="connect-button" *ngIf="showInstallLink">
      <a class="start-button" (click)="connect()" mat-flat-button color="accent" href="https://chrome.google.com/webstore/detail/blockcore-wallet/peigonhbenoefaeplkpalmafieegnapj" target="_blank"
        >Install <span class="hide-tiny">extension</span></a
      >
    </div>
    <div class="connect-button" *ngIf="extensionDiscovered">
      <button class="start-button" *ngIf="consent" (click)="connect()" mat-flat-button color="accent">Connect <span class="hide-tiny">using extension</span></button>
      <button class="start-button" *ngIf="!consent" (click)="giveConsent()" mat-flat-button color="accent">Give consent</button>
    </div>
  </div>
  <div class="connect-content">
    <mat-card class="card first-card">
      <mat-card-content>
        <h1 class="centered">New ways to connect with humanity</h1>
        <p class="centered" *ngIf="consent">
          <button class="start-button" color="accent" routerLink="/connect/create" mat-flat-button>Create new profile</button><br /><br />
          <button class="start-button" color="accent" routerLink="/connect/login" mat-flat-button>Log in</button><br /><br />
        </p>
        <p class="centered" *ngIf="!consent">
          <button class="start-button" (click)="giveConsent()" mat-flat-button color="accent">Give consent</button>
        </p>
      </mat-card-content>
    </mat-card>

    <!-- <mat-card class="spaces">
      <mat-card-content>
        <h1 class="centered">Spaces</h1>
        <div class="spaces-container">
          <mat-card class="spaces-card card-background" *ngFor="let space of spacesService.spaces">
            <mat-card-header>
              <img mat-card-avatar [src]="space.picture" onerror="this.src='/assets/profile.png'" />
              <mat-card-title>{{ space.name }}</mat-card-title>
              <mat-card-subtitle>{{ space.title }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="space.banner" />
            <mat-card-content>
              <p>
                <strong>Space: {{space.comment}}</strong><br /><br />
                Relays: {{ space.relayCount }}<br />
                Relay Sync <span *ngIf="space.relaySync">Enabled</span><span *ngIf="!space.relaySync">Disabled</span>
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>OPEN</button>
              <button mat-button>REMOVE</button>
            </mat-card-actions>
          </mat-card>

          <div class="spaces-add">
            <p>
              Using Spaces, you can organize multiple identities and relays, isolating them from each other. It allows you to reuse your same identity across multiple relays, but with different profiles and content, including private and
              authenticated relays.
            </p>
            <p class="centered">
              <button mat-fab color="primary">
                <mat-icon>add</mat-icon>
              </button>
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card> -->

    <mat-card class="card card-image">
      <img loading="lazy" width="1079" height="776" src="/assets/blockcore-notes-screenshot.png" />
    </mat-card>

    <mat-card class="card">
      <mat-card-content>
        <h1>Freedom of expression</h1>
        <p>
          Share your thoughts and interact with others in a fully transparent and open manner that is not restricted by any boundaries. Experience the world of <strong>Nostr</strong>. Nostr is a uncensorable protocol for communication with
          your friends and the world.
        </p>
        <p class="notice"><strong>PROTOTYPE:</strong> This app is currently under development and should be considered prototype-quality.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-content>
        <h1>Follow your favorite creators</h1>
        <p>
          No matter if they are photographers, film makers, bloggers, journalists or anyone else who likes to share and engage in communities and chats, Blockcore Notes have you covered with dynamic content layouts and organization of
          people.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-content>
        <h1>Be humble and kind</h1>
        <p>Being uncensorable and uncancellable means more responsibility is on you, you are in control and you are responsible.</p>
        <p>💛🖤</p>
        <p class="centered" *ngIf="consent">
          <br />
          <button mat-stroked-button (click)="consent=false; persist()">Withdraw consent</button>
        </p>
      </mat-card-content>
    </mat-card>
    <!-- 
    <mat-card class="card warn">
      <mat-card-content>
        <h1 *ngIf="!consent">Your approval is needed</h1>
        <h1 *ngIf="consent">Thank you!</h1>
        <div *ngIf="consent">
          <button class="start-button start-button-consent" *ngIf="consent" (click)="connect()" mat-flat-button>Connect using extension</button><br /><br />

          <button class="start-button start-button-consent" *ngIf="consent" routerLink="/connect/key" mat-flat-button>Connect using private key</button><br /><br />

          <button class="start-button start-button-consent" *ngIf="consent" (click)="readOnlyLogin = !readOnlyLogin" mat-flat-button>Connect using public key (read only)</button><br /><br />

          <div *ngIf="readOnlyLogin">
            <div>
              <div>
                <p>Just paste your (or someone else's) Nostr public key (npub) here:</p>
                <mat-form-field appearance="fill" class="input-full-width">
                  <mat-icon class="circle" matPrefix>person_add</mat-icon>
                  <mat-label>Public Key</mat-label>
                  <input matInput type="text" [(ngModel)]="readOnlyKey" />
                </mat-form-field>
                <div><button class="skip-button" (click)="anonymous(readOnlyKey)" color="primary" mat-raised-button>Connect (read-only)</button></div>
              </div>
            </div>
          </div>

          <div *ngIf="!consent" class="consent-required warn">You must agree with the notice below to enable login.</div>
          <br />
        </div>
        <div *ngIf="!consent">
          <p>
            Nostr is a decentralized and distributed network of relays that relays data by users. That means there is no centralized service where filtering or censoring is occurring. You may be exposed to content that will be disturbing
            and against your morality and world views.
          </p>
          <p>Content you publish are your responsibility and you cannot undo/delete after you publish. Don't publish or share a note (post) you wouldn't say to your neighbour.</p>

          <p>Blockcore has no involvement in the type of content being produced and shown to you in this app.</p>

          <p>You accept that all usage of Blockcore Notes, Blockcore infrastructure and software must be the result of peaceful voluntary human interactions.</p>

          <p>If you're young and still living with your parents, consider asking them for permission before you continue.</p>

          <p>To continue you must agree with our <a href="https://www.blockcore.net/policy" target="_blank">Privacy Policy and Terms & Conditions</a>.</p>
        </div>
        <mat-checkbox color="primary" (change)="persist()" [(ngModel)]="consent">I have read and agree to this notice</mat-checkbox>
      </mat-card-content>
    </mat-card> -->

    <!-- <div id="consent-card"></div> -->
  </div>
</div>
