<p>Hi, welcome to Blockcore Notes.</p>

<p>To get started using notes and accessing the incredible world of nostr, you must first connect your browser extension with this website.</p>

<p>Browser extension keeps your account safe and secret from everyone, including us.</p>

<p>
  Whenever we need you to perform a signing of a note, we'll notify your extension of choice to perform the signing. We suggest not approving a permanent permission, but instead accept each individual confirmation. This ensures you never
  sign anything you did not intend.
</p>

<br />

<div *ngIf="!extensionDiscovered"><button (click)="connect()" mat-raised-button color="primary" disabled="disabled">Waiting for extension...</button></div>

<div *ngIf="extensionDiscovered"><button (click)="connect()" mat-raised-button color="primary">Connect with extension</button></div>
