<div class="image-grid" [photoGalleryGroup]="{ arrowEl: true, indexIndicatorSep: ' - ' }">
  <div class="image-grid-item" loading="lazy" *ngFor="let image of images2" [photoGallery]="image"><img [src]="image" /></div>
</div>

<!-- <app-content-photos [events]="items.value" class="image-grid" [photoGalleryGroup]="{ arrowEl: true, indexIndicatorSep: ' - ' }" [event]="event" *ngFor="let event of items.value; trackBy: trackByFn"> </app-content-photos> -->

<!-- <div class="image-grid-item" *ngFor="let image of images2" [photoGallery]="image"><img [src]="image" alt="" /></div> -->

<!-- <div class="content clickable" *ngIf="event"> -->
<!-- {{ content }}<span *ngIf="event.contentCut">... (message was truncated)</span> -->
<!-- <div class="event-images" *ngIf="images2 && images2.length > 0">
    <span *ngFor="let image of images2" [photoGallery]="image.toString()"> <img class="event-image" [src]="image" (click)="expandImage(image)" /></span>
  </div> -->

<!-- <span class="dimmed">{{ likes(event) }} likes&nbsp;&nbsp;{{ dislikes(event) }} dislikes&nbsp;&nbsp;{{ replies(event) }} replies</span><br /> -->

<!-- <mat-chip-set class="hashtags">
    <mat-chip *ngFor="let tag of hashtags(event.tags)">#{{ tag }}</mat-chip>
  </mat-chip-set> -->
<!-- </div> -->
