<div *ngIf="miniplayer" class="media-player media-player-small">
  <div class="media-controls">
    <div class="media-controls-container">
      <!-- <img class="media-player-logo draggable" height="24" width="24" src="assets/icons/icon-128x128.webp" /> -->

      <button (click)="media.rate()" *ngIf="media.current?.type === 'Podcast'" mat-icon-button>
        <mat-icon>speed</mat-icon>
      </button>
      <button (click)="media.rewind(10)" *ngIf="media.current?.type === 'Podcast'" mat-icon-button>
        <mat-icon>replay_10</mat-icon>
      </button>
      <button [disabled]="!media.canPrevious" (click)="media.previous()" mat-icon-button>
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button *ngIf="media.paused" (click)="media.resume()" mat-icon-button>
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button *ngIf="!media.paused" (click)="media.pause()" mat-icon-button>
        <mat-icon>pause</mat-icon>
      </button>
      <button [disabled]="!media.canNext" (click)="media.next()" mat-icon-button>
        <mat-icon>skip_next</mat-icon>
      </button>
      <button (click)="media.forward(10)" *ngIf="media.current?.type === 'Podcast'" mat-icon-button>
        <mat-icon>forward_10</mat-icon>
      </button>
      <button *ngIf="!media.videoMode && media.muted" mat-icon-button (click)="media.mute()">
        <mat-icon>volume_off</mat-icon>
      </button>
      <button *ngIf="!media.videoMode && !media.muted" mat-icon-button (click)="media.mute()">
        <mat-icon>volume_up</mat-icon>
      </button>

      <!-- <button matTooltip="Window mode" mat-icon-button (click)="toggleLocation()">
        <mat-icon>open_in_full</mat-icon>
      </button> -->
    </div>
  </div>
  <div class="draggable"></div>
</div>

<div *ngIf="!miniplayer" class="media-player" [ngClass]="{ 'media-player-large': expanded, 'media-player-maximized': maximized }">
  <div class="media-info" *ngIf="!media.videoMode && !miniplayer">
    <img class="music-album" [src]="media.current?.artwork" />
    <div class="media-info-text hide-small">
      <div class="music-title">{{ media.current?.title }}</div>
      <div class="music-artist">{{ media.current?.artist }}</div>
    </div>
  </div>
  <div class="media-info" *ngIf="media.current?.type === 'YouTube' && !miniplayer">
    <iframe sandbox="allow-scripts allow-same-origin allow-presentation" id="ytplayer" *ngIf="media.youtubeUrl" class="youtube-video" type="text/html" [src]="media.youtubeUrl" frameborder="0" allowfullscreen allow="autoplay"></iframe>
  </div>
  <div class="media-info" *ngIf="media.current?.type === 'Video' && !miniplayer">
    <video class="event-video" controls autoplay="true" preload="none">
      <source [src]="media.videoUrl" type="video/mp4" />
    </video>
  </div>
  <div class="media-controls" *ngIf="!maximized">
    <div class="media-controls-container">
      <button matTooltip="Change speed" (click)="media.rate()" *ngIf="media.current?.type === 'Podcast'" mat-icon-button>
        <mat-icon>speed</mat-icon>
      </button>
      <button matTooltip="Skip back 10 seconds" class="hide-small" (click)="media.rewind(10)" *ngIf="media.current?.type === 'Podcast'" mat-icon-button>
        <mat-icon>replay_10</mat-icon>
      </button>
      <button matTooltip="Previous" [disabled]="!media.canPrevious" (click)="media.previous()" mat-icon-button>
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button matTooltip="Play" *ngIf="media.paused" (click)="media.resume()" mat-icon-button>
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button matTooltip="Pause" *ngIf="!media.paused" (click)="media.pause()" mat-icon-button>
        <mat-icon>pause</mat-icon>
      </button>
      <button matTooltip="Next" [disabled]="!media.canNext" (click)="media.next()" mat-icon-button>
        <mat-icon>skip_next</mat-icon>
      </button>
      <button matTooltip="Skip forward 10 seconds" class="hide-small" (click)="media.forward(10)" *ngIf="media.current?.type === 'Podcast'" mat-icon-button>
        <mat-icon>forward_10</mat-icon>
      </button>
    </div>
    <div class="media-timeline" *ngIf="!media.videoMode && !miniplayer">
      <div class="media-timeline-1 hide-small">{{media.time | time}}</div>
      <div class="media-timeline-2">
        <mat-slider class="media-slider" discrete [displayWith]="formatLabel" [max]="media.duration" [min]="0" [step]="1">
          <input matSliderThumb [(ngModel)]="media.time" />
        </mat-slider>
      </div>
      <div class="media-timeline-3 hide-small">{{media.duration | time}}</div>
    </div>
  </div>

  <!-- <div class="floating-maximize" *ngIf="!miniplayer">
    <button *ngIf="maximized" (click)="maximized = false" class="hide-small" mat-icon-button>
      <mat-icon>open_in_full</mat-icon>
    </button>
  </div> -->

  <div class="media-audio" *ngIf="!maximized && media.videoMode">
    <div class="media-audio-container">
      <button *ngIf="!expanded" (click)="expanded = true" class="hide-small" mat-icon-button>
        <mat-icon>expand_less</mat-icon>
      </button>
      <button *ngIf="expanded" (click)="expanded = false" class="hide-small" mat-icon-button>
        <mat-icon>expand_more</mat-icon>
      </button>
      <!-- <button *ngIf="!maximized" (click)="maximized = true" class="hide-small" mat-icon-button>
        <mat-icon>open_in_full</mat-icon>
      </button>
      <button *ngIf="maximized" (click)="maximized = false" class="hide-small" mat-icon-button>
        <mat-icon>open_in_full</mat-icon>
      </button> -->
      <!-- <button matTooltip="Zen mode" mat-icon-button (click)="minimize()">
        <mat-icon>self_improvement</mat-icon>
      </button> -->
      <button matTooltip="Queue" routerLink="/queue" class="hide-small" mat-icon-button>
        <mat-icon>queue_music</mat-icon>
      </button>
      <button matTooltip="Exit Media Player" (click)="media.exit()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="media-audio" *ngIf="!maximized && !media.videoMode">
    <div class="media-audio-container">
      <button matTooltip="Mute" class="hide-small" *ngIf="media.muted" mat-icon-button (click)="media.mute()">
        <mat-icon>volume_off</mat-icon>
      </button>
      <button matTooltip="Unmute" class="hide-small" *ngIf="!media.muted" mat-icon-button (click)="media.mute()">
        <mat-icon>volume_up</mat-icon>
      </button>
      <!-- <button matTooltip="Zen mode" mat-icon-button (click)="minimize()">
        <mat-icon>self_improvement</mat-icon>
      </button> -->
      <button matTooltip="Queue" *ngIf="!miniplayer" routerLink="/queue" class="hide-small" mat-icon-button>
        <mat-icon>queue_music</mat-icon>
      </button>
      <button *ngIf="!miniplayer" matTooltip="Exit Media Player" (click)="media.exit()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
