<div class="page">
  <div class="badges" *ngIf="sub.events">
    <app-badge-card [badge]="badge" *ngFor="let badge of sub.events">
      {{ 'Badge.CreatedBy' | translate }}:&nbsp;<app-profile-name [pubkey]="badge.pubkey"></app-profile-name>
      <br />
      Last updated: <app-date [date]="badge.created_at"></app-date>

      <p *ngIf="appState.getPublicKey() == badge.pubkey">
        <button class="badge-card-button" (click)="showIssuing = !showIssuing" mat-stroked-button>{{ 'Badge.IssueBadge' | translate }}</button>
        <button class="badge-card-button" (click)="edit(badge)" mat-stroked-button>{{ 'Badge.Edit' | translate }}</button>
      </p>

      <div *ngIf="showIssuing">
        <mat-form-field class="input-full-width">
          <mat-label>{{ 'Badge.PubKeyDescription' | translate }}</mat-label>
          <textarea appAutoInputHeight class="note-input" matInput type="text" [(ngModel)]="pubkeys" rows="2"></textarea>
        </mat-form-field>
        <br />
        <button mat-flat-button [disabled]="pubkeys.length == 0" type="button" (click)="issueBadge(badge)" color="primary">{{'Badge.PublishBadgeReward' | translate }}</button>
      </div>
    </app-badge-card>
  </div>
</div>
