<div *ngIf="!appState.authenticated">
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="app-header" *ngIf="appState.authenticated">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span></span>

  <button *ngIf="appState.showBackButton" mat-icon-button (click)="goBack()">
    <mat-icon class="arrow-back">arrow_back</mat-icon>
  </button>

  <div class="top-spacer">{{ appState.title }}</div>

  <!-- <app-language-selector></app-language-selector> -->

  <button mat-icon-button >
    <!-- <mat-icon *ngIf="walletManager.activeAccount">{{ walletManager.activeAccount?.icon }}</mat-icon> -->
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" *ngIf="appState.authenticated">
  <mat-sidenav #drawer class="sidenav print-hidden" fixedInViewport [attr.role]="'navigation'" [mode]="'over'">
    <mat-toolbar class="logo-icon" [matMenuTriggerFor]="animals">
      <img src="assets/icons/icon-128x128.png" />
      <div>Blockcore Notes</div>
    </mat-toolbar>

    <mat-menu #animals="matMenu" hasBackdrop="true" backdropClass="menu-mode-backdrop" overlapTrigger="false">
      <a mat-menu-item target="_blank" href="https://id.blockcore.net/">Blockcore DID Server</a>
      <a mat-menu-item target="_blank" href="https://did.is/">did:is DID Method</a>
      <a mat-menu-item target="_blank" href="https://identity.city-chain.org/">City Chain Identity</a>
      <a mat-menu-item target="_blank" href="https://registry.city-chain.org/">City Chain Registry</a>
    </mat-menu>

    <mat-menu #accounts="matMenu">
      <button mat-menu-item>John</button>
      <button mat-menu-item>John Doe</button>
    </mat-menu>

    <mat-nav-list class="menu-options">
      <a mat-list-item [routerLink]="['/']" routerLinkActive="active-link">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <div mat-line>Dashboard</div>
      </a>

      <a mat-list-item [routerLink]="['/notes']" routerLinkActive="active-link">
        <mat-icon mat-list-icon>category</mat-icon>
        <div mat-line>Events</div>
      </a>

      <a mat-list-item [routerLink]="['/notes']" routerLinkActive="active-link">
        <mat-icon mat-list-icon>people</mat-icon>
        <div mat-line>Identities</div>
      </a>

      <a mat-list-item [routerLink]="['/notes']" routerLinkActive="active-link">
        <mat-icon mat-list-icon>computer</mat-icon>
        <div mat-line>Relays</div>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item [routerLink]="['/notes']" routerLinkActive="active-link">
        <mat-icon mat-list-icon mat-list-icon>settings</mat-icon>
        <div mat-line>Settings</div>
      </a>

      <a mat-list-item [routerLink]="['/notes']" routerLinkActive="active-link">
        <mat-icon mat-list-icon mat-list-icon>help_outline</mat-icon>
        <div mat-line>Help</div>
      </a>

      <a mat-list-item routerLink="/logout" routerLinkActive="active-link">
        <mat-icon mat-list-icon mat-list-icon>logout</mat-icon>
        <div mat-line>Logout</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav #draweraccount class="sidenav print-hidden" fixedInViewport [attr.role]="'navigation'" [mode]="'over'" position="end">
    <button mat-button (click)="draweraccount.toggle()">Close</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <!-- <mat-sidenav-content>
    <mat-toolbar color="primary" class="print-hidden">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>

      <button *ngIf="appState.goBack" [routerLink]="[appState.goBack]" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>

      <span class="example-spacer">{{ appState.title }}</span>

      <span *ngIf="appState.authenticated">{{ appState.short }}</span>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content> -->
</mat-sidenav-container>
