<div *ngIf="!authenticated">
  <router-outlet></router-outlet>
</div>

<mat-sidenav-container fullscreen class="sidenav-container" *ngIf="authenticated">
  <mat-sidenav #drawer class="sidenav print-hidden" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="logo-icon">
      <img src="assets/icons/icon-128x128.png" />
      <div>Blockcore Notes</div>
    </mat-toolbar>
    <mat-nav-list>
      <a [routerLink]="['/']" mat-menu-item (click)="toggleMenu()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a [routerLink]="['/feed']" mat-menu-item (click)="toggleMenu()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        <mat-icon>notes</mat-icon>
        <span>Feed</span>
      </a>
      <a [routerLink]="['/people']" mat-menu-item (click)="toggleMenu()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        <span>People</span>
      </a>
      <a [routerLink]="['/chat']" mat-menu-item (click)="toggleMenu()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        <mat-icon>chat</mat-icon>
        <span>Chat</span>
      </a>
      <a [routerLink]="['/circles']" mat-menu-item (click)="toggleMenu()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        <mat-icon>animation</mat-icon>
        <span>Circles</span>
      </a>
      <a [routerLink]="['/notes']" mat-menu-item (click)="toggleMenu()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        <mat-icon>bookmark_border</mat-icon>
        <span>Notes</span>
      </a>
    </mat-nav-list>

    <div class="new-post">
      <img tabindex="10" (click)="navigationService.createNote()" src="/assets/post.svg" class="new-post-button" />
    </div>
  </mat-sidenav>

  <mat-sidenav #draweraccount class="sidenav-right print-hidden" fixedInViewport [attr.role]="'navigation'" [mode]="'over'" position="end">
    <div class="container">
      <button class="close-sidenav-icon" mat-icon-button (click)="draweraccount.toggle()">
        <mat-icon>close</mat-icon>
      </button>
      <button (click)="theme.darkMode = !theme.darkMode" mat-icon-button class="mat-icon-button theme-sidenav-icon">
        <mat-icon aria-label="Menu" class="material-icons">{{ theme.darkMode ? "dark_mode" : "light_mode" }}</mat-icon>
      </button>
      <header>
        <div class="bio" (click)="openProfile()">
          <img [src]="bgimagePath" alt="background" class="bg" />
          <div class="desc">
            <h3><span *ngIf="profile?.name">@</span>{{ profile?.name }}</h3>
            <p>{{ profile?.about }}</p>
          </div>
        </div>
        <div class="avatarcontainer">
          <img [src]="profile?.picture" onerror="this.src='/assets/profile.png'" alt="avatar" class="avatar" />
        </div>
      </header>
      <div class="content">
        <div class="data">
          <ul>
            <li>0 <span>Followers</span></li>
            <li *ngIf="profileService.following$ | async as following">{{ following.length }} <span>Following</span></li>
          </ul>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a [routerLink]="['/profile']" mat-menu-item (click)="toggleProfileMenu()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        <mat-icon>edit</mat-icon>
        <span>Edit profile</span>
      </a>
      <a [routerLink]="['/settings']" mat-menu-item (click)="toggleProfileMenu()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
      <a [routerLink]="['/about']" mat-menu-item (click)="toggleProfileMenu()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        <mat-icon>help_outline</mat-icon>
        <span>About</span>
      </a>
      <a [routerLink]="['/logout']" mat-menu-item (click)="toggleProfileMenu()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </a>
    </mat-nav-list>
    <mat-menu #accounts="matMenu" hasBackdrop="true" backdropClass="menu-mode-backdrop" overlapTrigger="false"> </mat-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="app-header">
      <button *ngIf="!appState.showSearch && (isHandset$ | async) === true" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span></span>

      <button *ngIf="!appState.showSearch && appState.showBackButton" mat-icon-button (click)="goBack()">
        <mat-icon class="arrow-back">arrow_back</mat-icon>
      </button>

      <div *ngIf="!appState.showSearch" class="top-spacer">{{ appState.title }}</div>

      <!-- <app-language-selector></app-language-selector> -->
      <ng-template *ngIf="!appState.showSearch">
        <button *ngFor="let action of appState.actions" (click)="action.click()" mat-icon-button [matTooltip]="action.tooltip">
          <mat-icon>{{ action.icon }}</mat-icon>
        </button>
      </ng-template>

      <form class="search-box" *ngIf="appState.showSearch">
        <mat-form-field appearance="outline" class="search-box-input">
          <mat-label>Search</mat-label>
          <input matInput #searchInput aria-label="Search" [formControl]="searchControl" [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option class="search-result-option" (onSelectionChange)="searchService.open(state)" *ngFor="let state of searchService.results$ | async" [value]="state.id">
              <span><img class="search-result-image" [src]="state.picture" height="32" /></span>
              <span *ngIf="state.display_name">{{ state.display_name }}</span>
              <span>{{ state.name }}</span>
              <span *ngIf="state.nip05">({{ state.nip05 }})</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      <!-- <mat-form-field *ngIf="appState.showSearch" appearance="outline" class="search-box">
        <mat-icon class="circle" matPrefix>search</mat-icon>
        <mat-label>Search</mat-label>
        <input matInput #searchInput type="text" (change)="searchInputChanged()" autocomplete="off" [(ngModel)]="appState.searchText" />
      </mat-form-field> -->

      <button *ngIf="appState.showSearch" mat-icon-button (click)="searchVisibility(false)">
        <mat-icon>close</mat-icon>
      </button>

      <button *ngIf="!appState.showSearch" mat-icon-button (click)="searchVisibility(true)">
        <mat-icon>search</mat-icon>
      </button>

      <button *ngIf="!appState.showSearch" mat-icon-button (click)="draweraccount.toggle()">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <div class="scrolling-content" appDetectScroll (onScroll)="onScroll($event)" [bottomOffset]="300" [topOffset]="300">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

  <!-- <mat-sidenav-content>
    <mat-toolbar color="primary" class="print-hidden">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>

      <button *ngIf="appState.goBack" [routerLink]="[appState.goBack]" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>

      <span class="example-spacer">{{ appState.title }}</span>

      <span *ngIf="appState.authenticated">{{ appState.short }}</span>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content> -->
</mat-sidenav-container>
