<div *ngIf="!authenticated">
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="app-header" *ngIf="authenticated">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span></span>

  <button *ngIf="appState.showBackButton" mat-icon-button (click)="goBack()">
    <mat-icon class="arrow-back">arrow_back</mat-icon>
  </button>

  <div class="top-spacer">{{ appState.title }}</div>

  <!-- <app-language-selector></app-language-selector> -->

  <button mat-icon-button matTooltip="Create new note" (click)="createNote()">
    <mat-icon>add</mat-icon>
  </button>

  <button mat-icon-button (click)="draweraccount.toggle()">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" *ngIf="authenticated">
  <mat-sidenav #drawer class="sidenav print-hidden" fixedInViewport [attr.role]="'navigation'" [mode]="'over'">
    <mat-toolbar class="logo-icon">
      <img src="assets/icons/icon-128x128.png" />
      <div>Blockcore Notes</div>
    </mat-toolbar>

    <mat-nav-list>
      <a [routerLink]="['/']" mat-menu-item (click)="drawer.toggle()">
        <mat-icon>dashboard</mat-icon>
        <span>Explore</span>
      </a>
      <!-- <a [routerLink]="['/']" mat-menu-item (click)="drawer.toggle()">
        <mat-icon>category</mat-icon>
        <span>Circle</span>
      </a>
      <a [routerLink]="['/identities']" mat-menu-item (click)="drawer.toggle()">
        <mat-icon>people</mat-icon>
        <span>Identities</span>
      </a>
      <a [routerLink]="['/notes']" mat-menu-item (click)="drawer.toggle()">
        <mat-icon>computer</mat-icon>
        <span>Relays</span>
      </a> -->
      <!-- <mat-divider></mat-divider> -->

      <a [routerLink]="['/people']" mat-menu-item (click)="drawer.toggle()">
        <mat-icon>people</mat-icon>
        <span>People</span>
      </a>

      <a [routerLink]="['/identities']" mat-menu-item (click)="drawer.toggle()">
        <mat-icon>people</mat-icon>
        <span>Identities</span>
      </a>

      <a [routerLink]="['/settings']" mat-menu-item (click)="drawer.toggle()">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
      <a [routerLink]="['/about']" mat-menu-item (click)="drawer.toggle()">
        <mat-icon>help_outline</mat-icon>
        <span>About</span>
      </a>
      <a [routerLink]="['/logout']" mat-menu-item (click)="drawer.toggle()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav #draweraccount class="sidenav-right print-hidden" fixedInViewport [attr.role]="'navigation'" [mode]="'over'" position="end">
    <div class="account-details">
      <button class="close-sidenav-icon" mat-icon-button (click)="draweraccount.toggle()">
        <mat-icon>close</mat-icon>
      </button>

      <h2 class="name-field">Name</h2>

      <div class="detail-box">
        <mat-icon mat-list-icon class="account-icon">account</mat-icon>
        <div class="detail-network">{{ authService.authInfo$.getValue().short }}<br /></div>
      </div>

      <button mat-button routerLink="/profile" (click)="draweraccount.toggle()">Edit Profile</button>
    </div>

    <mat-divider></mat-divider>

    <mat-menu #accounts="matMenu" hasBackdrop="true" backdropClass="menu-mode-backdrop" overlapTrigger="false">
      <button mat-menu-item>Wallet 1</button>
      <button mat-menu-item>Wallet 2</button>
    </mat-menu>

    <mat-nav-list class="menu-options">
      <!-- <mat-form-field appearance="fill" *ngIf="appState.hasWallets">
        <mat-label>Choose Wallet</mat-label>
        <mat-select (selectionChange)="onAccountChanged($event)" [(value)]="appState.persisted.activeWalletIndex">
          <mat-option [value]="-1">Create new wallet</mat-option>
          <mat-option *ngFor="let wallet of appState.persisted.wallets; let i = index" [value]="i">{{wallet.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <a mat-list-item routerLinkActive="active-link">
        <mat-icon mat-list-icon>machine</mat-icon>
        <div mat-line class="name-field">asdfasdf</div>
        <div mat-line>ddd</div>
      </a>

      <!-- <a mat-list-item *ngIf="appState.activeWallet && appState.unlocked" [routerLink]="['/wallet/edit']"
        (click)="drawer.toggle()" routerLinkActive="active-link">
        <mat-icon mat-list-icon>edit</mat-icon>
        <div mat-line>Edit Wallet</div>
      </a>

      <mat-list-item *ngIf="appState.activeWallet && appState.unlocked" (click)="lock()"
        routerLinkActive="active-link">
        <mat-icon mat-list-icon>lock</mat-icon>
        <div mat-line>Lock Wallet</div>
      </mat-list-item>

      <a mat-list-item *ngIf="appState.activeWallet" [routerLink]="['/wallet/remove']" (click)="drawer.toggle()"
        routerLinkActive="active-link">
        <mat-icon mat-list-icon>delete</mat-icon>
        <div mat-line>Remove Wallet</div>
      </a> -->

      <mat-divider></mat-divider>

      <!-- <mat-form-field appearance="fill" *ngIf="appState.hasWallets">
        <mat-label>Choose account</mat-label>
        <mat-select>
          <mat-option [value]="-1">Account 0</mat-option>
          <mat-option *ngFor="let wallet of appState.persisted.wallets; let i = index" [value]="i">{{wallet.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <!-- <mat-sidenav-content>
    <mat-toolbar color="primary" class="print-hidden">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>

      <button *ngIf="appState.goBack" [routerLink]="[appState.goBack]" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>

      <span class="example-spacer">{{ appState.title }}</span>

      <span *ngIf="appState.authenticated">{{ appState.short }}</span>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content> -->
</mat-sidenav-container>
