.logo-icon {
  justify-content: center;
  cursor: pointer;
}

.logo-icon img {
  height: 60%;
}

.logo-icon div {
  font-size: 0.8em;
  margin-left: 1em;
}

// .sidenav-container {
//   // overflow: auto overlay;
//   // height: 100%;
//   overflow: hidden !important;
// }

.sidenav {
  width: 200px;
}

.top-spacer {
  flex: 1 1 auto;
  margin-left: 0.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mdc-list-item.active {
  background: rgba(156, 39, 176, 0.15);
}

header {
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 2em;
}

.container {
  width: 320px;

  padding-bottom: 1em;
}

.bg {
  border-bottom: 3px solid #9c27b0;
}

.bio:hover > .desc {
  cursor: pointer;
  opacity: 1;
}

.avatarcontainer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 70px;
  display: block;
}

.avatarcontainer:hover > .hover {
  opacity: 1;
}

.avatar {
  width: 100%;
  border: 3px solid #9c27b0;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: 65px;
  height: 65px;
  opacity: 0.9;
}

.avatar:hover {
  opacity: 1;
  cursor: pointer;
}

.topavatar {
  border: 3px solid #9c27b0;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 0.9;
}

.topavatar:hover {
  opacity: 1;
  cursor: pointer;
}

.data {
  margin-top: 0.6em;
  color: #81878b;
}

.data li {
  width: 50%;
  text-align: center;
  display: inline-block;
}

.data ul {
  padding-inline-start: 0 !important;
}

.data li:last-child {
  border: none;
}

.data li span {
  display: block;
  text-transform: uppercase;
  font-size: 0.5em;
  margin-top: 0.6em;
  font-weight: 700;
}

.desc {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 171px;
  color: white;
  text-align: center;
  opacity: 0.5;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.desc h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.desc p {
  font-size: 0.9em;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical;
}

.close-sidenav-icon {
  float: left;
  position: fixed;
  z-index: 100000;
  margin: 5px;
}

.theme-sidenav-icon {
  float: right;
  position: fixed;
  z-index: 100000;
  margin: 5px;
  right: 5px;
}

.new-post {
  text-align: center;
}

.new-post-button {
  width: 92px;
  height: 92px;
  position: fixed;
  bottom: 2em;
  left: 2.9em;
  cursor: pointer;
  transition: opacity 250ms ease;
}

.new-post-button:hover {
  opacity: 0.6;
}

.search-box {
  padding-top: 1em;
  top: 20px;
  flex: 1 1 auto;
  width: 100%;
}

.search-box-input {
  width: 100%;
}

.search-result-option {
  box-sizing: border-box;
  display: flex;
  flex-direction: row !important;
  align-items: center !important;
}

.search-result-image {
  margin-right: 0.2em;
  border-radius: 50%;
}

.search-result-option span {
  margin-right: 0.4em;
}
