.public-key {
  margin-bottom: 1em;
  word-wrap: break-word;
}

.error {
  margin-bottom: 1em;
  color: red;
}

.full-button {
  width: 100%;
  border-radius: 10px;
  padding: 2em;
}

.description {
  margin-top: 0.4em;
  text-align: center;
  font-size: 0.85em;
  margin-bottom: 1.4em;
}

.start-button {
  margin-right: 0.62em;
}

.connect-action {
  text-align: right;
}

.recovery-phrase {
  font-size: 1.4em;
  word-spacing: 0.8em;
}

.image-uploader {
  position: relative;
  display: inline-block;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.icon {
  margin-right: 5px;
}

#file-upload {
  display: none;
}

img {
  max-width: 100%;
  margin-top: 10px;
}

.uploaded-image {
  max-width: 100px;
  max-height: 100px;
}
