<div class="profile-page" *ngIf="ui.profile$ | async as profile">
  <!-- <div [style.background-image]="utilities.getBannerBackgroundStyle(profile.banner)" class="profile-banner"></div> -->

  <div class="profile-banner">
    <img class="profile-banner-image" [src]="profile.banner" />
  </div>

  <div class="profile-page-header">
    <div class="profile-page-header-left">
      <div id="profile-image-anchor" class="profile-image-anchor">
        <img
          id="profile-image"
          width="150"
          height="150"
          onerror="this.src='/assets/profile.png'"
          *ngIf="profile?.status == 1"
          (click)="showProfileImage()"
          class="profile-image-large profile-image-follow"
          [style.borderColor]="circleService.getSync(profile.circle)?.color"
          [src]="imagePath"
        />
        <img
          loading="lazy"
          id="profile-image"
          onerror="this.src='/assets/profile.png'"
          *ngIf="profile?.status != 1"
          (click)="showProfileImage()"
          class="profile-image-large profile-image-follow"
          matTooltipPosition="above"
          [src]="imagePath"
        />
      </div>
    </div>
    <div class="profile-page-header-middle">
      <div class="profile-button-container">
        <ng-template [ngIf]="isFollowing(profile)">
          <button class="follow-button" (click)="follow(profile)" *ngIf="profile?.status == 0" mat-flat-button>Follow Back</button>
        </ng-template>

        <ng-template [ngIf]="!isFollowing(profile)">
          <button class="follow-button" (click)="follow(profile)" *ngIf="profile?.status == 0" mat-flat-button color="primary">Follow</button>
        </ng-template>

        <app-profile-actions [fab]="false" [profile]="profile"></app-profile-actions>
      </div>
      <h2 class="profile-name" [matTooltip]="profile.name" matTooltipPosition="above">
        <span *ngIf="profile.display_name"> {{ profile.display_name }} </span>
        <span *ngIf="!profile.display_name">
          <span *ngIf="profile.name"> {{ profile.name }} </span>
          <span *ngIf="!profile.display_name && !profile.name"> {{ profile.npub }} </span>
        </span>
        <span class="follows-you" *ngIf="isFollowing(profile)">Follows you</span>
      </h2>
      <div class="profile-labels">
        <div class="profile-labels-left"><mat-icon class="profile-icon">key</mat-icon></div>
        <div class="profile-labels-middle dimmed">
          <span class="hoverable" (click)="copy(profile.npub)">{{ profile.npub }}</span>
        </div>
        <!-- <div class="profile-labels-right"></div> -->
      </div>
      <div class="profile-labels" *ngIf="isValidNip05">
        <div class="profile-labels-left"><mat-icon class="profile-icon">verified</mat-icon></div>
        <div class="profile-labels-middle dimmed">
          <span class="hoverable" (click)="copy(getWellKnownLink(profile.nip05))">{{ displayNIP05(profile.nip05) }}</span>
        </div>
        <!-- <div class="profile-labels-right"></div> -->
      </div>
      <div class="profile-labels" *ngIf="profile.website">
        <div class="profile-labels-left"><mat-icon class="profile-icon">link</mat-icon></div>
        <div class="profile-labels-middle dimmed">
          <a class="dimmed lightning-link hoverable" *ngIf="profile.website" [href]="utilities.sanitizeUrl(profile.website, true)" target="_blank">{{ profile.website }}</a>
        </div>
        <!-- <div class="profile-labels-right"></div> -->
      </div>
      <div class="profile-labels" (click)="openDialog(profile)" *ngIf="profile.lud06" [mtxTooltip]="tooltipTpl" [mtxTooltipPosition]="'left'">
        <div class="profile-labels-left"><mat-icon class="profile-icon-custom">⚡️</mat-icon></div>
        <div class="profile-labels-middle dimmed">
          <!-- <a class="dimmed lightning-link" (click)="toggleLn()" *ngIf="profile.lud16 && paymentVersion == 'lud16'" [href]="utilities.sanitize('lightning:' + profile.lud16)">{{ profile.lud16 }}</a> -->
          <a class="dimmed lightning-link hoverable" *ngIf="profile.lud06" [href]="utilities.sanitizeLUD06('lightning:' + profile.lud06)">{{ profile.lud06 }}</a>
        </div>
        <!-- <div class="profile-labels-right"></div> -->
      </div>
      <div class="profile-labels" (click)="openDialog(profile)" *ngIf="profile.lud16" [mtxTooltip]="tooltipTpl2" [mtxTooltipPosition]="'left'">
        <div class="profile-labels-left"><mat-icon class="profile-icon-custom">⚡️</mat-icon></div>
        <div class="profile-labels-middle dimmed">
          <!-- <a class="dimmed lightning-link" (click)="toggleLn()" *ngIf="profile.lud16 && paymentVersion == 'lud16'" [href]="utilities.sanitize('lightning:' + profile.lud16)">{{ profile.lud16 }}</a> -->
          <a class="dimmed lightning-link hoverable" *ngIf="profile.lud16" [href]="utilities.sanitizeLUD06('lightning:' + profile.lud16)">{{ profile.lud16 }}</a>
        </div>
        <!-- <div class="profile-labels-right"></div> -->
      </div>

      <ng-template #tooltipTpl>
        <div class="qr-code-container">
          <!-- <img class="qr-code" *ngIf="qr16 && paymentVersion == 'lud16'" [src]="qr16" /> -->
          <img class="qr-code" *ngIf="qr06" [src]="qr06" />
        </div>
      </ng-template>

      <ng-template #tooltipTpl2>
        <div class="qr-code-container">
          <!-- <img class="qr-code" *ngIf="qr16 && paymentVersion == 'lud16'" [src]="qr16" /> -->
          <img class="qr-code" *ngIf="qr16" [src]="qr16" />
        </div>
      </ng-template>

      <span>
        <p class="wrap linebreaks" *ngIf="profile.about">{{ profile.about }}</p>
      </span>

      <div class="following-counts">
        <a class="following-link" *ngIf="profile.following" [routerLink]="['/following', profile.pubkey]">{{ profile.following.length }} <span class="dimmed">Following</span></a>
        &nbsp;&nbsp;⚡️{{ zapUi.getProfileZapAmount(profile.pubkey) }} <span class="dimmed">Sats</span>
      </div>

      <div>
        <!-- <a mat-mini-fab [matMenuTriggerFor]="menu"><mat-icon>notifications</mat-icon></a> -->

        <!-- <button class="profile-button" *ngIf="profile.lud06"> -->
        <!-- <a class="profile-button" *ngIf="profile.lud06" [href]="sanitize('lightning:' + profile.lud06)">
            <mat-icon class="profile-button-icon">⚡️</mat-icon>
          </a> -->
        <!-- </button> -->

        <!-- <button class="profile-button">
            <mat-icon class="profile-button-icon">⚡️</mat-icon>
          </button>

          <button class="profile-button" [matMenuTriggerFor]="menu">
            <mat-icon class="action-button-icon">animation</mat-icon>
          </button> -->

        <!-- <button class="profile-button">
            <mat-icon class="action-button-icon">more_vert</mat-icon>
          </button> -->

        <!-- <button class="action-button" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="action-button-icon">more_vert</mat-icon>
          </button> -->

        <!-- <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Mute</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_paused</mat-icon>
            <span>Remove from Bookmarks</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications</mat-icon>
            <span>Remove from Bookmarks</span>
          </button>
        </mat-menu> -->
      </div>
    </div>
    <!-- <div class="profile-page-header-right"> -->
    <!-- <div class="profile-button-container" *ngIf="profile.lud06">
        <a mat-mini-fab color="primary" [href]="sanitize('lightning:' + profile.lud06)">⚡️</a>
      </div> -->

    <!-- </div> -->
  </div>
</div>
