<div class="profile-page">
  <div class="profile-page-header" *ngIf="profile">
    <div class="profile-page-header-left">
      <img *ngIf="profile?.follow" class="profile-image-large profile-image-follow" [style.borderColor]="circle?.color" [src]="imagePath" />
      <img *ngIf="!profile?.follow" class="profile-image-large" matTooltipPosition="above" [src]="imagePath" />
    </div>
    <div class="profile-page-header-middle">
      <span *ngIf="profile">
        <h2 class="profile-name" [matTooltip]="npub" matTooltipPosition="above">
          <span *ngIf="profile.display_name">
            {{ profile.display_name }}
          </span>
          <span *ngIf="!profile.display_name">
            <span *ngIf="profile.name">
              {{ profile.name }}
            </span>
            <span *ngIf="!profile.name">
              {{ npub }}
            </span>
          </span>
        </h2>
        <div class="profile-labels">
          <div class="profile-labels-left"><mat-icon (click)="copy(npub)" class="profile-icon">key</mat-icon></div>
          <div class="profile-labels-middle dimmed">@{{ profile.name }}</div>
        </div>
        <div class="profile-labels" *ngIf="profile.nip05" (click)="copy(profile.nip05)">
          <div class="profile-labels-left"><mat-icon class="profile-icon">verified</mat-icon></div>
          <div class="profile-labels-middle dimmed">{{ profile.nip05 }}</div>
        </div>
        <div class="profile-labels" *ngIf="profile.website" (click)="copy(profile.website)">
          <div class="profile-labels-left"><mat-icon class="profile-icon">link</mat-icon></div>
          <div class="profile-labels-middle dimmed">{{ profile.website }}</div>
        </div>
        <span>
          <p class="wrap" *ngIf="profile.about">{{ profile.about }}</p>
        </span>
      </span>
    </div>
    <div class="profile-page-header-right">
      <div class="profile-button-container" *ngIf="profile.lud06">
        <a mat-mini-fab color="primary" [href]="sanitize('lightning:' + profile.lud06)">⚡️</a>
      </div>
      <div class="profile-button-container">
        <app-profile-actions [fab]="true" [profile]="profile"></app-profile-actions>
      </div>
    </div>
  </div>
</div>
