.profile-icon,
.profile-icon-custom {
  text-align: center;
}

.profile-icon-custom {
  font-size: 16px;
}

.lightning-link {
  text-decoration: none;
}

.lightning-link:hover {
  text-decoration: none;
}

.profile-name {
  margin-top: 0;
  margin-bottom: 0.2em;
}

.profile-labels {
  display: flex;
  width: auto;
  gap: 0.4em;
  justify-content: center;
}

/* .profile-labels:hover {
  cursor: pointer;
  opacity: 0.6;
} */

.profile-labels-left {
  flex: 0 1 auto;
  width: 24px;
}

.profile-labels-middle {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .profile-labels-middle:hover {
  cursor: pointer;
  opacity: 0.6;
} */

.hoverable:hover {
  cursor: pointer;
  opacity: 0.6;
}

.following-counts {
  margin-bottom: 0.4em;
}

.following-link {
  text-decoration: none;
}

.following-link:hover {
  text-decoration: underline;
}

/* .profile-labels-right {
  flex: 1 2 auto;
} */

.action-button {
  margin-top: 0 !important;
  margin-right: 0 !important;
}

.qr-code-container {
}

.qr-code {
  width: 100%;
  height: 100%;
}
