.loading {
  margin: auto;
}

.input-full-width {
  width: 100% !important;
}

.search {
  margin-top: 1em;
  padding: 1em 1em 0em 1em;
  margin-bottom: 1em;
  background-color: #424242;
  border-radius: 10px;
}
