<!-- <mat-progress-bar *ngIf="!events || events.length == 0" mode="indeterminate"></mat-progress-bar> -->

<div class="feed-page">
  <!-- <p>Circles is how you organize people you follow. Different circles can have different rules applied and circles is an important way to make the experience more enjoyable.</p> -->

  <mat-card class="circle circle-container clickable" (click)="navigation.openFeed($event, circle)" *ngFor="let circle of circleService.circles">
    <div class="circle-item"><mat-icon matListItemIcon [style.color]="circle.color">trip_origin</mat-icon></div>
    <div class="circle-item clickable">
      {{ circle.name }}<br />
      <span class="dimmed clickable"><span>{{ 'Circles.Count' | translate }}: {{ countMembers(circle) }}</span></span
      ><br />
      <span class="dimmed clickable"><span *ngIf="circle.public">{{ 'Circles.Public' | translate }}</span> <span *ngIf="!circle.public">{{ 'Circles.Private' | translate }}</span> - {{ circle.style | circlestyle }} - {{ 'Circles.Created' | translate }}: {{ circle.created | ago }}</span>
    </div>
    <div class="circle-item clickable">
      <button class="circle-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="circle-button-icon">more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="copyMenu">
          <mat-icon>copy_all</mat-icon>
          <span>{{ 'Circles.Copy' | translate }}</span>
        </button>
        <button *ngIf="circle.id" mat-menu-item (click)="deleteCircle(circle.id)">
          <mat-icon>delete</mat-icon>
          <span>{{ 'Circles.DeleteCircle' | translate }}</span>
        </button>
      </mat-menu>

      <mat-menu #copyMenu="matMenu">
        <button mat-menu-item (click)="copyPubKeys(circle)">
          <mat-icon>content_copy</mat-icon>
          <span>{{ 'Circles.PublicKeysNpub' | translate }}</span>
        </button>
        <button mat-menu-item (click)="copyPubKeysHex(circle)">
          <mat-icon>content_copy</mat-icon>
          <span>{{ 'Circles.PublicKeysHex' | translate }}</span>
        </button>
      </mat-menu>
    </div>
  </mat-card>

  <!-- <mat-card class="circle-container" *ngFor="let circle of circles">
    <div class="circle-item"><mat-icon matListItemIcon [style.color]="circle.color">trip_origin</mat-icon></div>
    <div class="circle-item">
      {{ circle.name }}<br />
      <span class="dimmed"
        ><span>Count: {{ countMembers(circle) }}</span></span
      ><br />
      <span class="dimmed"><span *ngIf="circle.public">Public</span> <span *ngIf="!circle.public">Private</span> - {{ circle.style | circlestyle }} - Created: {{ circle.created | ago }}</span>
    </div>
    <div class="circle-item">
      <button class="circle-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="circle-button-icon">more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="copyMenu">
          <mat-icon>copy_all</mat-icon>
          <span>Copy</span>
        </button>
        <button *ngIf="circle.id" mat-menu-item (click)="deleteCircle(circle.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete Circle</span>
        </button>
      </mat-menu>

      <mat-menu #copyMenu="matMenu">
        <button mat-menu-item (click)="copyPubKeys(circle)">
          <mat-icon>content_copy</mat-icon>
          <span>Public Keys (npub)</span>
        </button>
        <button mat-menu-item (click)="copyPubKeysHex(circle)">
          <mat-icon>content_copy</mat-icon>
          <span>Public Keys (hex)</span>
        </button>
      </mat-menu>
    </div>
  </mat-card> -->

  <small>{{ 'Circles.CirclesDescription' | translate }}</small>
</div>
