<!-- <mat-progress-bar *ngIf="!events || events.length == 0" mode="indeterminate"></mat-progress-bar> -->

<div class="feed-page">
  <p>Circles is how you organize people you follow. Different circles can have different rules applied and circles is an important way to make the experience more enjoyable.</p>

  <h2>Coming soon!</h2>

  <!-- <mat-accordion class="options">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Options</mat-panel-title>
        <mat-panel-description>Identities cached: {{ profiles.length }}</mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <button mat-stroked-button (click)="clearIdentities()">Clear Identities Cache</button>
      </p>
    </mat-expansion-panel>
  </mat-accordion> -->

  <!-- <p class="search">
    <mat-form-field appearance="fill" class="input-full-width">
      <mat-label>Search in Identitis</mat-label>
      <input matInput placeholder="name, display name, about or pubkey" type="search" (keyup.enter)="search()" autocomplete="off" [(ngModel)]="searchTerm" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </p>

  <div class="centered" style="width: 100%" *ngIf="loading">
    <br />
    <mat-spinner class="loading"></mat-spinner>
  </div>

  <div *ngIf="!loading"></div> -->
</div>
