<!-- <mat-progress-bar *ngIf="!events || events.length == 0" mode="indeterminate"></mat-progress-bar> -->

<div class="feed-page">
  <!-- <p>Circles is how you organize people you follow. Different circles can have different rules applied and circles is an important way to make the experience more enjoyable.</p> -->
  <div class="circle-container" *ngFor="let circle of circles">
    <div class="circle-item"><mat-icon matListItemIcon [style.color]="circle.color">trip_origin</mat-icon></div>
    <div class="circle-item">
      {{ circle.name }}<br />
      <span class="dimmed"><span *ngIf="circle.public">Count: {{ countMembers(circle) }}</span></span><br />
      <span class="dimmed"><span *ngIf="circle.public">Public</span>
      <span *ngIf="!circle.public">Private</span> - {{ circle.style | circlestyle }} - Created: {{ circle.created | ago }}</span>
    </div>
    <div class="circle-item">
      <button (click)="deleteCircle(circle.id)" *ngIf="circle.id" class="circle-button" mat-icon-button>
        <mat-icon class="circle-button-icon">delete</mat-icon>
      </button>
    </div>
  </div>

  <p class="circle-actions">
    <button mat-stroked-button (click)="importFollowList()">Import Follow List</button>
    <button mat-stroked-button (click)="publishFollowList()">Publish Follow List</button>
  </p>

  <p class="dimmed">Circles is how you organize people you follow. Different circles can have different rules applied and circles is an important way to make the experience more enjoyable.</p>
</div>
