<!-- <mat-progress-bar *ngIf="!events || events.length == 0" mode="indeterminate"></mat-progress-bar> -->

<div class="feed-page">
  <p>Circles is how you organize people you follow. Different circles can have different rules applied and circles is an important way to make the experience more enjoyable.</p>

  <div class="circle-container" *ngFor="let circle of circles">
    <div class="circle-item"><mat-icon matListItemIcon [style.color]="circle.color">trip_origin</mat-icon></div>
    <div class="circle-item">
      {{ circle.name }}<br /><span class="dimmed">Created: {{ circle.created | ago }}</span>
    </div>
    <div class="circle-item">
      <button (click)="deleteCircle(circle.id)" *ngIf="circle.id" class="circle-button" mat-icon-button>
        <mat-icon class="circle-button-icon">delete</mat-icon>
      </button>
    </div>
  </div>
</div>
