<mat-progress-bar *ngIf="!events || events.length == 0" mode="indeterminate"></mat-progress-bar>

<div class="feed-page">
  <mat-accordion class="options">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Options</mat-panel-title>
        <mat-panel-description>{{ activeOptions() }}</mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <!-- <mat-slide-toggle class="options-slider" (change)="feedChanged($event, 'private')" [(ngModel)]="settings.options.privateFeed">My feed</mat-slide-toggle>
        <mat-slide-toggle class="options-slider" (change)="feedChanged($event, 'public')" [(ngModel)]="settings.options.publicFeed">Public feed</mat-slide-toggle>
        <br /><br /> -->
        <mat-slide-toggle class="options-slider" [(ngModel)]="options.values.paused">Pause feed</mat-slide-toggle>
        <mat-slide-toggle class="options-slider" [(ngModel)]="options.values.hideSpam" (ngModelChange)="optionsUpdated()">Hide spam</mat-slide-toggle>
        <mat-slide-toggle class="options-slider" [(ngModel)]="options.values.hideInvoice" (ngModelChange)="optionsUpdated()">Hide LN invoices</mat-slide-toggle>

        <!-- <mat-checkbox [(ngModel)]="settings.options.hideSpam" color="primary" (ngModelChange)="optionsUpdated()"> Only </mat-checkbox>
        <mat-checkbox [(ngModel)]="settings.options.hideSpam" color="primary" (ngModelChange)="optionsUpdated()"> Hide spam </mat-checkbox>
        <mat-checkbox [(ngModel)]="settings.options.hideInvoice" color="primary" (ngModelChange)="optionsUpdated()"> Hide LN invoices </mat-checkbox>
        <mat-checkbox [(ngModel)]="settings.options.paused" color="primary" (ngModelChange)="optionsUpdated()"> Paused feed </mat-checkbox> -->
      </p>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- {{ data.public$ }} -->

  <!-- START:
  <div *ngIf="data.public$ | async as data">
    <div class="events" *ngFor="let event of data">EVENT ... {{ event }}</div>
    :STOP
  </div> -->

  <mat-card class="events" *ngFor="let event of events; trackBy: trackByFn">
    <div class="events-header">
      <app-event-header [pubkey]="event.pubkey"
        ><span class="event-date" [matTooltip]="event.id!" matTooltipPosition="below">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
      ></app-event-header>
      <app-event-actions [event]="event"></app-event-actions>
    </div>
    <app-content [event]="event"></app-content>
  </mat-card>
</div>
