<div class="feed-page">
  <app-labels (selectionChanged)="filterNotes($event)"></app-labels>
  <div *ngIf="notesService.items.length === 0">Notes are all your saved posts. These can be your own, or they can be copies of public posts made by others. You can add tags to organize your saved notes.<br /></div>

  <div class="notes">
    <mat-card class="events" *ngFor="let note of notesService.filtered">
      <div class="events-header">
        <app-event-header [pubkey]="note.pubkey">Posted: <span class="event-date">{{ note.created_at | ago }}</span>, Saved: <span class="event-date">{{ note.saved | ago }}</span> </app-event-header>
        <app-event-actions [event]="note"></app-event-actions>
      </div>

      <app-content [event]="note"></app-content>
      <app-label [labels]="note.labels"></app-label>
    </mat-card>
  </div>
</div>
