<mat-card class="intro">
    <b>Thanks for coming to checkout the Nip76 Private Channels Demo.</b>
    <p>
        You may use your own private nostr key, but we understand why many users would be hesitant
        to do this.  If so, please feel free to use a demo profile like
        <a class="action-link" (click)="copyKey('Alice')">Alice</a> 
        or <a class="action-link" (click)="copyKey('Bob')">Bob</a>,
        or create an entirely new user.
    </p>
    <div  class="menubar">
        <button class="menubar-button" mat-flat-button (click)="demoUserType = 'existing'"
            [color]="demoUserType === 'existing' ? 'primary' : 'secondary'"> Use Existing User </button>
        <button class="menubar-button" mat-flat-button (click)="demoUserType = 'new'"
            [color]="demoUserType === 'new' ? 'primary' : 'secondary'"> Create New User </button>
    </div>
</mat-card>
<nip76-demo-key *ngIf="demoUserType === 'existing'"></nip76-demo-key>
<nip76-demo-create *ngIf="demoUserType === 'new'"></nip76-demo-create>