.intro {
    position: absolute;
    top: 86px;
    padding: 8px;
    left: 198px;
    z-index: 1000;
    width: 66%;
    background-color: floralwhite;
    border-radius: 20px;
}

.menubar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menubar-button {
    display: flex;
}

.action-link {
    cursor: pointer;
}

p {
    margin: 4px 0px;
}