.thread-event {
  margin-left: 1em;
  border-left: 2px solid rgba(255, 255, 255, 0.15);
  padding-top: 1em;
  padding-left: 1em;
}

.thread-content {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 2px solid rgba(255, 255, 255, 0.15) !important;
  display: block;
}

.thread-reactions {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 2px solid rgba(255, 255, 255, 0.15) !important;
}
