.thread-event {
  margin-left: 27px;
  /* border-left: 2px solid rgba(255, 255, 255, 0.15); */
  padding-top: 0em;
  padding-left: 1em;
}

.thread-content {
  margin-left: 27px;
  padding-left: 1em;
  /* border-left: 2px solid rgba(255, 255, 255, 0.15) !important; */
  display: block;
}

@media only screen and (max-width: 1150px) {
  .thread-event {
    margin-top: 1em;
    margin-left: 0;
    padding-left: 4px;
  }

  .thread-content {
    margin-left: 27px;
  }

  .events-header {
    padding-left: 28px;
  }
}
