<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title [ngClass]="{ 'primary-relay': optionsService.values.primaryRelay == relay.url }">{{
            relay.nip11?.name }}</mat-panel-title>
        <mat-panel-description>
            <span class="hide-small" [ngClass]="{ 'primary-relay': optionsService.values.primaryRelay == relay.url }">{{
                relay.url
                }}</span>
            <span>
                ||{{ relay.status }}||{{relay.enabled}}||
                <span class="hide-small" *ngIf="!relay.enabled">Disabled</span>
                <span class="hide-small" *ngIf="relay.profile">Profile</span>
                <span class="hide-small" *ngIf="relay.write">Write</span>
                <span class="hide-small" *ngIf="relay.read">Read</span>
                <span class="hide-small" *ngIf="relay.public">Public</span>
                <mat-icon class="online"
                    [ngClass]="['relay-status-' + relay.status, relay.enabled ? 'relay-enabled' : 'relay-disabled', relay.read ? 'relay-read' : 'relay-read-disabled']">radio_button_checked</mat-icon>
            </span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="relay.error" class="error">{{ relay.error }}</div>
    <div *ngIf="relay.nip11">
        <h2 *ngIf="relay.nip11?.name">{{ relay.nip11?.name }}</h2>
        {{ relay.nip11.description }}<br /><br />
        <span class="dimmed">
            NIPs: {{ relay.nip11.supported_nips }}<br />
            Software: {{ relay.nip11.software }} ({{ relay.nip11.version }})<br />
            <span class="wrap"> ID: {{ relay.nip11.pubkey }}</span></span>
        <!-- <div>Subscriptions Count : {{ relay.subscriptions.length }}</div> -->
    </div>
    <mat-card class="relay-options mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Relay Options</mat-card-title>
            <mat-card-subtitle>Control if this relay is used for reading, writing and if it should be part of your
                public relay list. Additionally you can keep the relay in your list but disable it to not
                use.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content><br />
            <mat-slide-toggle class="options-slider" (change)="onRelayChanged(relay)"
                [(ngModel)]="relay.enabled">Enabled</mat-slide-toggle>
            <mat-slide-toggle class="options-slider" (change)="onRelayChanged(relay)"
                [(ngModel)]="relay.profile">Write Profile/Following</mat-slide-toggle>
            <mat-slide-toggle class="options-slider" (change)="onRelayChanged(relay)"
                [(ngModel)]="relay.write">Write</mat-slide-toggle>
            <mat-slide-toggle class="options-slider" (change)="onRelayChanged(relay)"
                [(ngModel)]="relay.read">Read</mat-slide-toggle>
            <mat-slide-toggle class="options-slider" (change)="onRelayChanged(relay)"
                [(ngModel)]="relay.public">Public</mat-slide-toggle>
        </mat-card-content>
    </mat-card>
    <button class="relay-button" [disabled]="optionsService.values.primaryRelay == relay.url" mat-raised-button
        color="primary" (click)="primaryRelay(relay)">Primary Relay</button>&nbsp;
    <button class="relay-button" mat-raised-button color="warn" (click)="deleteRelay(relay)">Delete</button>
    <!-- <button (click)="deleteRelay(relay)" mat-icon-button matTooltip="Remove from queue" color="grey">
    <mat-icon>delete</mat-icon>
  </button> -->
</mat-expansion-panel>