<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a mat-tab-link [routerLink]="['/followers', pubkey]" [active]="false">Followers</a>
  <a mat-tab-link [routerLink]="['/following', pubkey]" [active]="true">Following</a>
</nav>
<mat-tab-nav-panel #tabPanel>
  <!-- <div *ngIf="profileService.item$ | async as profile">
    {{ profile.name }}
  </div> -->
  <div class="page" *ngIf="ui.profile$ | async as profile">
    {{profile.name}}

    <app-profile-widget *ngFor="let pubkey of profile.following" [pubkey]="pubkey"></app-profile-widget>
  </div>
</mat-tab-nav-panel>
