<div class="full-page-flex">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link [routerLink]="['/followers', ui.pubkey]" [active]="false">Followers</a>
    <a mat-tab-link [routerLink]="['/following', ui.pubkey]" [active]="true">Following</a>
  </nav>
  <mat-tab-nav-panel #tabPanel class="tab-panel full-page-flex-expand">
    <!-- <div *ngIf="profileService.item$ | async as profile">
    {{ profile.name }}
  </div> -->
  
  <div class="page">
    <ng-container *ngIf="ui.profile$ | async as profile">
      <!-- <div class="tab-panel-viewport" cdkVirtualScrollingElement>
        <cdk-virtual-scroll-viewport scrollWindow itemSize="1">
          <div *cdkVirtualFor="let pubkey of profile.following; let index = index" class="following-item">
            <app-profile-widget [pubkey]="pubkey"></app-profile-widget>
          </div>
        </cdk-virtual-scroll-viewport>
      </div> -->

      <div class="tab-panel-viewport">
        <div *ngFor="let pubkey of profile.following; let index = index" class="following-item">
          <app-profile-widget [pubkey]="pubkey"></app-profile-widget>
        </div>
      </div>
    </ng-container>
  </div>

    <!-- <div class="page" *ngIf="ui.profile$ | async as profile">
    <app-profile-widget *ngFor="let pubkey of virtualList.view" [pubkey]="pubkey"></app-profile-widget>
  </div>

  <div class="page" *ngIf="ui.profile$ | async as profile">
    <app-profile-widget *ngFor="let pubkey of profile.following" [pubkey]="pubkey"></app-profile-widget>
  </div> -->
  </mat-tab-nav-panel>
</div>
