<div class="feed-page">
  <!-- <p class="search">
    <mat-form-field appearance="fill" class="input-full-width">
      <mat-label>Search in People</mat-label>
      <input matInput placeholder="name, display name, about or pubkey" type="search" (keyup.enter)="search()" autocomplete="off" [(ngModel)]="searchTerm" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </p> -->

  <mat-accordion class="options">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Options</mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <mat-slide-toggle class="options-slider" [(ngModel)]="showBlocked" (change)="optionsUpdated($event, 1)">Show blocked</mat-slide-toggle>
        <mat-slide-toggle class="options-slider" [(ngModel)]="showMuted" (change)="optionsUpdated($event, 2)">Show muted</mat-slide-toggle>
        <mat-slide-toggle class="options-slider" [(ngModel)]="showCached" (change)="optionsUpdated($event, 3)">Show cached</mat-slide-toggle>
      </p>
    </mat-expansion-panel>
  </mat-accordion>

  <div *ngIf="items$ | async as profiles">
    <!-- <div class="centered" style="width: 100%">
      <br />
      <mat-spinner class="loading"></mat-spinner>
    </div> -->

    <!-- Count: {{ profiles.length }} -->

    <mat-card class="events clickable" (click)="navigation.openProfile($event, profile)" *ngFor="let profile of profiles; trackBy: trackByFn">
      <!-- ; trackBy: trackByFn track by won't update when changing circle. -->
      <div class="events-header">
        <app-event-header [profile]="profile"
          ><span class="clickable" *ngIf="profile.created">Started following {{ profile.created | ago }}</span> <app-directory-icon [pubkey]="profile.pubkey"></app-directory-icon
        ></app-event-header>
        <app-profile-actions [profile]="profile"></app-profile-actions>
      </div>
      <div class="content clickable">
        {{ profile.about }}
      </div>
    </mat-card>
  </div>

  <p class="dimmed">People are those you are following. You can use circles to organize your people.</p>
</div>
