<!-- <mat-progress-bar *ngIf="!events || events.length == 0" mode="indeterminate"></mat-progress-bar> -->

<div class="feed-page">
  <p>People are those you are following. You can use circles to organize your people.</p>

  <p class="search">
    <mat-form-field appearance="fill" class="input-full-width">
      <mat-label>Search in People</mat-label>
      <input matInput placeholder="name, display name, about or pubkey" type="search" (keyup.enter)="search()" autocomplete="off" [(ngModel)]="searchTerm" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </p>

  <mat-accordion class="options">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Options</mat-panel-title>
        <mat-panel-description>Count: {{ profiles.length }}</mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <mat-slide-toggle class="options-slider" [(ngModel)]="showBlocked" (change)="optionsUpdated($event, 1)">Show blocked</mat-slide-toggle>
        <mat-slide-toggle class="options-slider" [(ngModel)]="showCached" (change)="optionsUpdated($event, 2)">Show cached</mat-slide-toggle>
      </p>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="centered" style="width: 100%" *ngIf="loading">
    <br />
    <mat-spinner class="loading"></mat-spinner>
  </div>

  <div *ngIf="!loading">
    <!-- <mat-list>
      <mat-list-item *ngFor="let person of people">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{person.name}}</div>
        <div matListItemLine>{{person.updated | date}}</div>
      </mat-list-item>
    </mat-list> -->

    <div class="events" *ngFor="let profile of profiles; trackBy: trackByFn">
      <app-profile-actions [profile]="profile"></app-profile-actions>
      <app-profile-header [profile]="profile">Started following {{ profile.saved | ago }} <app-directory-icon [pubkey]="profile.pubkey"></app-directory-icon></app-profile-header>
      <div class="content">
        {{ profile.about }}
      </div>
    </div>
  </div>

  <!-- <div class="events" *ngFor="let profile of profiles">
      <div class="event-header">
        <div class="icon"><img src="assets/profile.jpg" /></div>
        <div class="name">{{ profile.pubkey }}</div>
      </div>
      <div class="content">
        {{ profile.about }}
      </div>
    </div>
  </div> -->
</div>

<!-- <mat-list>
  <div mat-subheader>Latest 100 Events</div>
  <mat-list-item *ngFor="let event of events; trackBy: trackByFn">
    <mat-icon matListItemIcon>text_snippet</mat-icon> -->
<!-- <div matListItemTitle>{{ event.pubkey }} - {{ event.kind }}-{{ event.id }}</div> -->
<!-- <div matListItemTitle>{{ event.content }}</div>
    <div matListItemLine>{{ event.created_at | ago }}</div>
  </mat-list-item>
</mat-list> -->

<!-- <div *ngFor="let event of events; trackBy: trackByFn">{{event.content}}</div> -->
