<div class="feed-page">
  <!-- <p class="search">
    <mat-form-field appearance="fill" class="input-full-width">
      <mat-label>Search in People</mat-label>
      <input matInput placeholder="name, display name, about or pubkey" type="search" (keyup.enter)="search()" autocomplete="off" [(ngModel)]="searchTerm" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </p> -->

  <div class="options">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Options</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          <mat-slide-toggle class="options-slider" [(ngModel)]="showBlocked" (change)="optionsUpdated($event, 1)">Show blocked</mat-slide-toggle>
          <mat-slide-toggle class="options-slider" [(ngModel)]="showMuted" (change)="optionsUpdated($event, 2)">Show muted</mat-slide-toggle>
          <mat-slide-toggle class="options-slider" [(ngModel)]="showCached" (change)="optionsUpdated($event, 3)">Show cached</mat-slide-toggle>
        </p>
        <p>
          <mat-slide-toggle class="options-slider" [(ngModel)]="showAbout">Show about</mat-slide-toggle>
          <mat-slide-toggle class="options-slider" [(ngModel)]="showFollowingDate">Show following date</mat-slide-toggle>
        </p>

        <mat-form-field appearance="outline">
          <mat-label>Sorting</mat-label>
          <mat-select (selectionChange)="updateSorting()" [(value)]="selected">
            <mat-option value="name-asc">Name (A-Z)</mat-option>
            <mat-option value="name-desc">Name (Z-A)</mat-option>
            <mat-option value="followed-asc">Followed (Newest)</mat-option>
            <mat-option value="followed-desc">Followed (Oldest)</mat-option>
            <mat-option value="created-asc">Updated (Newest)</mat-option>
            <mat-option value="created-desc">Updated (Oldest)</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <p class="people-actions">
    <button mat-stroked-button (click)="importFollowList()">Import Following List</button>
    <button mat-stroked-button (click)="publishFollowList()">Publish Follow List</button>
  </p>

  <div class="people-list">
    <ng-template [ngIf]="!loading">
      <mat-card class="people-card people clickable" (click)="navigation.openProfile($event, profile)" *ngFor="let profile of sortedItems; trackBy: trackByFn">
        <!-- ; trackBy: trackByFn track by won't update when changing circle. -->
        <div class="events-header">
          <!-- <div [style.background-image]="utilities.getBannerBackgroundStyle(profile.banner)" class="profile-banner"></div> -->
          <app-event-header [profile]="profile">
            <small *ngIf="showFollowingDate"> <span class="clickable" *ngIf="profile.created"> Started following {{ profile.created | ago }}</span> <app-directory-icon [pubkey]="profile.pubkey"></app-directory-icon> </small>
          </app-event-header>
          <app-profile-actions [profile]="profile"></app-profile-actions>
        </div>
        <div *ngIf="showAbout" class="content clickable">{{ profile.about }}</div>
      </mat-card>
    </ng-template>
    <ng-template [ngIf]="loading"><mat-spinner class="loading"></mat-spinner></ng-template>
  </div>
  <!-- 
  <div *ngIf="items$ | withLoading | async as items">
    <ng-template [ngIf]="items.value">Value: {{ items.value }}</ng-template>
    <ng-template [ngIf]="items.error">Error {{ items.error }}</ng-template>
    <ng-template [ngIf]="items.loading">Loading...</ng-template>
  </div> -->

  <!-- <div *ngIf="items$ | async as profiles"> -->
  <!-- <div class="centered" style="width: 100%">
      <br />
      <mat-spinner class="loading"></mat-spinner>
    </div> -->

  <!-- Count: {{ profiles.length }} -->
  <!-- </div> -->

  <p class="dimmed">People are those you are following. You can use circles to organize your people.</p>



</div>
