.mobile-menu {
  display: flex;
  flex-direction: row;
  height: 56px;
  background-color: var(--mat-sidenav-container-background-color, var(--mat-sys-surface));
}

.mobile-nav-button {
  padding: 4px;
  line-height: 1;
  font-size: 12px;
}

.mobile-nav-button {
  flex: 1;
  min-width: 0;
}

.mobile-nav-button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-footer {
  justify-content: space-around;
  padding: 0;
  height: 56px;
}