<div class="profile-page">
  <div class="profile-page-header" *ngIf="profile">
    <div class="profile-page-header-left">
      <img *ngIf="profile?.follow" class="profile-image-large profile-image-follow" [style.borderColor]="circle?.color" [src]="imagePath" />
      <img *ngIf="!profile?.follow" class="profile-image-large" matTooltipPosition="above" [src]="imagePath" />
    </div>
    <div class="profile-page-header-middle">
      <span *ngIf="profile">
        <h2 class="profile-name marginless" [matTooltip]="npub" matTooltipPosition="above">{{ profile.display_name }}</h2><br>
        <span>
          <span class="dimmed">{{ profileName }} / {{ profile.nip05 }}</span><br />
          <!-- <span class="dimmed wrap">{{ npub }}</span> -->
          <p *ngIf="profile.about">{{ profile.about }}</p>
          <!-- <p>{{ profile.lud06 }}</p> -->
          <!-- Tip: <a class="ln-link" [href]="sanitize('lightning:' + profile.lud06)" target="_blank">⚡️</a> -->
          <p *ngIf="profile.website">{{ profile.website }}</p>
        </span>
      </span>
    </div>
    <div class="profile-page-header-right">
      <div class="profile-button-container" *ngIf="profile.lud06">
        <a mat-mini-fab color="primary" [href]="sanitize('lightning:' + profile.lud06)">⚡️</a>
      </div>
      <!--
        DO WE WANT A FOLLOW SHORTCUT OR ENOUGH WITH "..." MENU?
        <div class="profile-button-container">
        <button mat-mini-fab>
          <mat-icon>add_circle</mat-icon>
        </button>
      </div> -->
      <div class="profile-button-container">
        <app-profile-actions [fab]="true" [profile]="profile"></app-profile-actions>
      </div>
    </div>
  </div>

  <!-- <span *ngIf="profile">
    <h2 class="marginless">{{ profile.display_name }}</h2>
    <span>
      {{ profileName }} / {{ profile.nip05 }}<br />
      <span class="dimmed wrap">{{ npub }}</span>
      <p *ngIf="profile.about">{{ profile.about }}</p>
      <p *ngIf="profile.website">{{ profile.website }}</p>
    </span>
  </span> -->
</div>

<mat-tab-group>
  <mat-tab label="Notes">
    <span *ngIf="userEvents$ | async as events">
      <!-- <mat-progress-bar *ngIf="!events || events.length == 0" mode="indeterminate"></mat-progress-bar> -->

      <div class="page" *ngIf="events.length === 0">
        <h3 class="marginless">Looks a bit lonely here? This is probably because it's been a while since @{{ profile?.name }} has posted.</h3>
        <p>
          <em>(Options to load older notes will come in the future)</em>
          <!-- <button mat-raised-button color="primary">Load history from last week</button> -->
        </p>
      </div>

      <div class="feed-page">
        <!-- <mat-accordion class="options">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Options</mat-panel-title>
              <mat-panel-description>{{ activeOptions() }}</mat-panel-description>
            </mat-expansion-panel-header>
            <p>
              <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.paused">Pause feed</mat-slide-toggle>
              <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.hideSpam" (ngModelChange)="optionsUpdated()">Hide spam</mat-slide-toggle>
              <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.hideInvoice" (ngModelChange)="optionsUpdated()">Hide LN invoices</mat-slide-toggle>
  
            </p>
          </mat-expansion-panel>
        </mat-accordion> -->

        <div class="events clickable" (click)="navigation.openEvent($event, event)" *ngFor="let event of events; trackBy: trackByFn">
          <app-profile-actions [event]="event" [pubkey]="event.pubkey"></app-profile-actions>
          <app-profile-header [pubkey]="event.pubkey"
            ><span class="event-date clickable">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
          ></app-profile-header>

          <span class="content">{{ event.content }}<span *ngIf="event.contentCut">... (message was truncated)</span></span>
        </div>
      </div>
    </span>

    <!-- <mat-list>
      <div mat-subheader>Latest 100 Events</div>
      <mat-list-item *ngFor="let event of events; trackBy: trackByFn">
        <mat-icon matListItemIcon>text_snippet</mat-icon> -->
    <!-- <div matListItemTitle>{{ event.pubkey }} - {{ event.kind }}-{{ event.id }}</div> -->
    <!-- <div matListItemTitle>{{ event.content }}</div>
        <div matListItemLine>{{ event.created_at | ago }}</div>
      </mat-list-item>
    </mat-list> -->

    <!-- <div *ngFor="let event of events; trackBy: trackByFn">{{event.content}}</div> -->
  </mat-tab>
  <mat-tab label="Replies">
    <span *ngIf="replyEvents$ | async as events">
      <!-- <mat-progress-bar *ngIf="!events || events.length == 0" mode="indeterminate"></mat-progress-bar> -->

      <div class="page" *ngIf="events.length === 0">
        <h3 class="marginless">Looks a bit lonely here? This is probably because it's been a while since @{{ profile?.name }} has posted.</h3>
        <p>
          <em>(Options to load older notes will come in the future)</em>
          <!-- <button mat-raised-button color="primary">Load history from last week</button> -->
        </p>
      </div>

      <div class="feed-page">
        <!-- <mat-accordion class="options">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Options</mat-panel-title>
            <mat-panel-description>{{ activeOptions() }}</mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.paused">Pause feed</mat-slide-toggle>
            <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.hideSpam" (ngModelChange)="optionsUpdated()">Hide spam</mat-slide-toggle>
            <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.hideInvoice" (ngModelChange)="optionsUpdated()">Hide LN invoices</mat-slide-toggle>

          </p>
        </mat-expansion-panel>
      </mat-accordion> -->

        <div class="events clickable" (click)="navigation.openEvent($event, event)" *ngFor="let event of events; trackBy: trackByFn">
          <app-profile-actions [event]="event" [pubkey]="event.pubkey"></app-profile-actions>
          <app-profile-header [pubkey]="event.pubkey"
            ><span class="event-date">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
          ></app-profile-header>

          <span class="content">Replied: {{ event.content }}<span *ngIf="event.contentCut">... (message was truncated)</span></span>
        </div>
      </div>
    </span></mat-tab
  >
  <!-- <mat-tab label="Likes">
    <div class="page">
      <h2>To be implemented</h2>
    </div>
  </mat-tab> -->
</mat-tab-group>
