<app-profile-header *ngIf="profile" [profile]="profile"></app-profile-header>

<div class="page" *ngIf="profile && !profile?.follow">
  <p>Data is currently only loaded if you follow this user.</p>
  <p><button class="follow-button" mat-raised-button color="primary" (click)="follow()">Follow</button></p>
</div>

<mat-tab-group *ngIf="profile?.follow" [selectedIndex]="tabIndex" (selectedTabChange)="onTabChanged($event)">
  <mat-tab label="Notes" *ngIf="profile?.follow">
    <span *ngIf="userEvents$ | async as events">
      <!-- <mat-progress-bar *ngIf="!events || events.length == 0" mode="indeterminate"></mat-progress-bar> -->

      <div class="page" *ngIf="events.length === 0">
        <h3 class="marginless">Looks a bit lonely here? This is probably because it's been a while since @{{ profile?.name }} has posted.</h3>
        <p>
          <em>(Options to load older notes will come in the future)</em>
          <!-- <button mat-raised-button color="primary">Load history from last week</button> -->
        </p>
      </div>

      <div class="feed-page">
        <!-- <mat-accordion class="options">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Options</mat-panel-title>
              <mat-panel-description>{{ activeOptions() }}</mat-panel-description>
            </mat-expansion-panel-header>
            <p>
              <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.paused">Pause feed</mat-slide-toggle>
              <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.hideSpam" (ngModelChange)="optionsUpdated()">Hide spam</mat-slide-toggle>
              <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.hideInvoice" (ngModelChange)="optionsUpdated()">Hide LN invoices</mat-slide-toggle>
  
            </p>
          </mat-expansion-panel>
        </mat-accordion> -->

        <div class="events clickable" (click)="navigation.openEvent($event, event)" *ngFor="let event of events; trackBy: trackByFn">
          <app-profile-actions [event]="event" [pubkey]="event.pubkey"></app-profile-actions>
          <app-event-header [pubkey]="event.pubkey"
            ><span class="event-date clickable">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
          ></app-event-header>
          <app-content [event]="event"></app-content>
          <!-- <div class="content clickable">{{ event.content }}<span *ngIf="event.contentCut">... (message was truncated)</span></div> -->
        </div>
      </div>
    </span>

    <!-- <mat-list>
      <div mat-subheader>Latest 100 Events</div>
      <mat-list-item *ngFor="let event of events; trackBy: trackByFn">
        <mat-icon matListItemIcon>text_snippet</mat-icon> -->
    <!-- <div matListItemTitle>{{ event.pubkey }} - {{ event.kind }}-{{ event.id }}</div> -->
    <!-- <div matListItemTitle>{{ event.content }}</div>
        <div matListItemLine>{{ event.created_at | ago }}</div>
      </mat-list-item>
    </mat-list> -->

    <!-- <div *ngFor="let event of events; trackBy: trackByFn">{{event.content}}</div> -->
  </mat-tab>
  <mat-tab label="Replies" *ngIf="profile?.follow">
    <span *ngIf="replyEvents$ | async as events">
      <!-- <mat-progress-bar *ngIf="!events || events.length == 0" mode="indeterminate"></mat-progress-bar> -->

      <div class="page" *ngIf="events.length === 0">
        <h3 class="marginless">Looks a bit lonely here? This is probably because it's been a while since @{{ profile?.name }} has posted.</h3>
        <p>
          <em>(Options to load older notes will come in the future)</em>
          <!-- <button mat-raised-button color="primary">Load history from last week</button> -->
        </p>
      </div>

      <div class="feed-page">
        <!-- <mat-accordion class="options">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Options</mat-panel-title>
            <mat-panel-description>{{ activeOptions() }}</mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.paused">Pause feed</mat-slide-toggle>
            <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.hideSpam" (ngModelChange)="optionsUpdated()">Hide spam</mat-slide-toggle>
            <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.hideInvoice" (ngModelChange)="optionsUpdated()">Hide LN invoices</mat-slide-toggle>

          </p>
        </mat-expansion-panel>
      </mat-accordion> -->

        <div class="events clickable" (click)="navigation.openEvent($event, event)" *ngFor="let event of events; trackBy: trackByFn">
          <app-profile-actions [event]="event" [pubkey]="event.pubkey"></app-profile-actions>
          <app-event-header [pubkey]="event.pubkey"
            ><span class="event-date">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
          ></app-event-header>
          <app-content [event]="event"></app-content>
          <!-- <div class="content clickable">Reply: {{ event.content }}<span *ngIf="event.contentCut">... (message was truncated)</span></div> -->
        </div>
      </div>
    </span></mat-tab
  >
  <!-- <mat-tab label="Likes">
    <div class="page">
      <h2>To be implemented</h2>
    </div>
  </mat-tab> -->
</mat-tab-group>
