<!-- <span class="material-icons network-status" [ngClass]="class">circle</span> -->

<div class="event-header" [ngClass]="['event-header-' + listType]">
  <div class="icon" [ngClass]="['icon-' + iconSize]">
    <a [routerLink]="['/p', pubkey]">
      <img
        onerror="this.src='/assets/profile.png'"
        *ngIf="profile?.status == 1 || profile?.status == 2"
        class="profile-image profile-image-follow"
        [matTooltip]="tooltip"
        [style.borderColor]="circle?.color"
        matTooltipPosition="above"
        [src]="imagePath"
      />
      <img loading="lazy" onerror="this.src='/assets/profile.png'" *ngIf="profile?.status != 1 && profile?.status != 2" class="profile-image" [matTooltip]="tooltip" matTooltipPosition="above" [src]="imagePath" />
      <!-- <app-profile-image [publicKey]="event.pubkey"></app-profile-image> -->
    </a>
  </div>
  <div *ngIf="displayName" class="name clickable">
    <a [routerLink]="['/p', pubkey]">
      <span [class.muted]="profile?.status == 2" [matTooltip]="tooltipName" matTooltipPosition="above">{{ profileName }}</span>
      <!-- <span *ngIf="!tooltip" [matTooltip]="tooltipName">{{ profileName }}</span> -->
      <!-- <app-profile-name [publicKey]="pubkey"></app-profile-name> -->
    </a>
  </div>

  <ng-template [ngIf]="listType == 'details'">
    <div>{{profile?.display_name}}</div>
    <div>{{profile?.name}}</div>
    <div>{{profile?.nip05}}</div>
    <div>{{profile?.website}}</div>
    <div>{{profile?.lud06}}</div>
    <div>{{profile?.lud16}}</div>
    <div>{{profile?.following?.length}}</div>
    <!-- <div>{{profile?.about}}</div> -->
  </ng-template>
  <!-- <div *ngIf="listType == 'details'">Relays: <app-relay-list [relays]="profile?.relays"></app-relay-list></div> -->

  <div *ngIf="displayContent" class="date clickable">
    <ng-content></ng-content>
    <div class="content-items" *ngIf="profile && listType == 'content'">
      <div *ngIf="profile.display_name"><span class="content-item-label">Display Name:</span> {{profile.display_name}}</div>
      <div *ngIf="profile.name"><span class="content-item-label">Name:</span> {{profile.name}}</div>
      <div *ngIf="profile.nip05"><span class="content-item-label">NIP05:</span> {{profile.nip05}}</div>
      <div *ngIf="profile.pubkey"><span class="content-item-label">Public Key (npub):</span> {{profile.pubkey | bech32}}</div>
      <div *ngIf="profile.pubkey"><span class="content-item-label">Public Key (hex):</span> {{profile.pubkey}}</div>
      <div *ngIf="profile.website"><span class="content-item-label">Website:</span> {{profile.website}}</div>
      <div *ngIf="profile.lud06"><span class="content-item-label">lud06:</span> {{profile.lud06}}</div>
      <div *ngIf="profile.lud16"><span class="content-item-label">lud16:</span> {{profile.lud16}}</div>
      <div *ngIf="profile.following"><span class="content-item-label">Following:</span> {{profile.following.length}}</div>
      <div *ngIf="profile.about"><span class="content-item-label">About:</span> {{profile.about}}</div>
      <div *ngIf="profile.relays"><span class="content-item-label">Relays:</span> <app-relay-list [relays]="profile.relays"></app-relay-list></div>
    </div>

    <!-- <span class="event-date" [matTooltip]="profile.id!" matTooltipPosition="below">{{ profile.created_at | ago }}</span>
      <app-directory-icon [publicKey]="profile.pubkey"></app-directory-icon> -->
  </div>
</div>
