<div class="page">
<form class="profile-form">
    <table class="example-full-width" cellspacing="0"><tr>
        <td>
            <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
            <mat-label>NIP05</mat-label>
            <input matInput>
        </mat-form-field></td>
    </tr></table>
  
    <p><mat-form-field class="example-full-width">
        <mat-label>LUD06</mat-label>
        <input matInput placeholder="LNURL...">
    </mat-form-field></p>

    <p><mat-form-field class="example-full-width">
      <mat-label>About</mat-label>
      <textarea matInput></textarea>
    </mat-form-field></p>
  
    <mat-form-field class="example-full-width" >
        <mat-label>Image</mat-label>
        <input matInput placeholder="Image URL">
      </mat-form-field>
  </form>
  
      <button mat-raised-button color="primary">Submit</button>
  </div>