<div class="feed-page">
  <div class="options">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{'Relays.Options' | translate}} </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>

        <div class="settings-action-buttons">
          <!-- <button mat-stroked-button (click)="toggle()"><span *ngIf="!open">Expand All</span><span *ngIf="open">Collapse All</span></button>
          <br /> -->
          <button mat-flat-button color="primary" (click)="getRelays()">{{'Relays.AppendFromExtension' | translate }} </button><button mat-flat-button color="primary" (click)="getDefaultRelays()">{{ 'Relays.AppendFromApp' | translate }} </button>
          <br />
          <button mat-stroked-button (click)="dataService.publishContactsAndRelays()">{{ 'Relays.PublishRelay(and following)list' | translate}} </button> <button mat-stroked-button (click)="dataService.publishRelays()">{{'Relays.PublishRelay(NIP-65)list' | translate}}</button
          ><br /><br />
          <button mat-flat-button color="warn" (click)="deleteRelays()">{{'Relays.DeleteAllRelays' | translate}} </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <app-relays [relays]="relayService.items"></app-relays>
</div>
