.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.online {
  margin-left: 0.2em;
  margin-bottom: -0.2em;
}

.relay-status-0 {
  color: silver;
}

.relay-status-1 {
  color: green;
}

.relay-status-2 {
  color: orange;
}

.relay-status-3 {
  color: red;
}

.relay-status-4 {
  color: rgb(49, 49, 210);
}

.relay-read-disabled {
  color: rgb(49, 49, 210) !important;
}

.relay-disabled {
  color: rgb(234, 136, 9) !important;
}

.primary-relay {
  color: rgb(198, 3, 181);
}

.relay-options {
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}

.settings-action-buttons {
  padding-top: 0.8em;
  padding-bottom: 1em;
}

.settings-action-buttons button {
  margin-bottom: 1em;
  margin-right: 1em;
}

/* When changing the sidenav-content to flex, the toolbar does not render properly, so a minor hack is needed. */
@media only screen and (max-width: 599px) {
  .settings-action-buttons button {
    width: 100%;
    margin-right: 0;
  }

  .mat-expansion-panel-header-title {
    flex-grow: 2 !important;
  }

  .mat-expansion-panel-header-description {
    flex-grow: 1 !important;
  }
}

.relay-button {
  margin-top: 0.8em;
}
.options-slider {
  margin-left: 1em;
}
