.profile-widget {
  gap: 0.4em;
  display: flex;
  flex-direction: row;
  height: 200px;
}

.profile-widget app-event-header {
  flex-grow: 2;
}

.profile-widget app-profile-actions {
  width: 48px;
}
