// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "@fontsource/material-icons";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blockcore-notes-primary: mat.define-palette(mat.$deep-purple-palette);
$blockcore-notes-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$blockcore-notes-warn: mat.define-palette(mat.$red-palette);

$blockcore-notes-typography: mat.define-typography-config(
  $font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif',
);

$blockcore-notes-level: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: "18px",
  $line-height: 1,
  $letter-spacing: normal,
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$blockcore-notes-theme: mat.define-dark-theme(
  (
    color: (
      primary: $blockcore-notes-primary,
      accent: $blockcore-notes-accent,
      warn: $blockcore-notes-warn,
    ),
    typography: $blockcore-notes-typography,
    level: $blockcore-notes-level,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($blockcore-notes-theme);

// $blockcore-notes-level: mat.define-typography-level(
//   $font-family: Roboto,
//   $font-weight: 400,
//   $font-size: 1rem,
//   $line-height: 1,
//   $letter-spacing: normal,
// );

/* You can add global styles to this file, and also import other style files */

// $angular-dark-theme: mat.define-dark-theme(
//   (
//     color: (
//       primary: $angular-primary,
//       accent: $angular-accent,
//       warn: $angular-warn,
//     ),
//   )
// );

// .darkMode {
//   @include mat.all-component-colors($angular-dark-theme);
// }

html,
body {
  height: 100%;
}
body {
  // margin: 0;
  // padding: 0;
  // overflow: hidden;
  font-size: 18px;
  background-color: #212121;
  color: white;
  overscroll-behavior-y: contain;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.page {
  padding: 2em;
}

a {
  color: rgb(206, 206, 206);
}

a:hover {
  color: #c7b3ea;
  text-decoration: none;
}

.mat-sidenav-content {
  overflow: overlay !important;
}