// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "@fontsource/material-icons";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blockcore-light-primary: mat.define-palette(mat.$purple-palette);
$blockcore-light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$blockcore-light-warn: mat.define-palette(mat.$red-palette);

$blockcore-dark-primary: mat.define-palette(mat.$purple-palette);
$blockcore-dark-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$blockcore-dark-warn: mat.define-palette(mat.$red-palette);

$blockcore-notes-typography: mat.define-typography-config(
  $font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif',
);

$blockcore-notes-level: mat.define-typography-level(
  $font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif',
  $font-weight: 400,
  $font-size: "18px",
  $line-height: 1,
  $letter-spacing: normal,
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$blockcore-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $blockcore-light-primary,
      accent: $blockcore-light-accent,
      warn: $blockcore-light-warn,
    ),
    typography: $blockcore-notes-typography,
    level: $blockcore-notes-level,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($blockcore-light-theme);

// $blockcore-notes-level: mat.define-typography-level(
//   $font-family: Roboto,
//   $font-weight: 400,
//   $font-size: 1rem,
//   $line-height: 1,
//   $letter-spacing: normal,
// );

/* You can add global styles to this file, and also import other style files */

$blockcore-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $blockcore-dark-primary,
      accent: $blockcore-dark-accent,
      warn: $blockcore-dark-warn,
    ),
    typography: $blockcore-notes-typography,
    level: $blockcore-notes-level,
  )
);

.dark {
  @include mat.all-component-colors($blockcore-dark-theme);
}

a {
  color: mat.get-color-from-palette($blockcore-dark-primary);
}

.dark a {
  color: mat.get-color-from-palette($blockcore-light-primary);
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-size: 18px;
  // background-color: mat.$background-color;
  // overflow: hidden;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  overflow-y: overlay !important;
  // overflow: scroll !important;
}

// .connect-container {
//   min-height: 100%;
//   background-color: #ddd;
//   border-left: 2px solid #666;
//   border-right: 2px solid #666;
//   width: 676px;
//   margin: 0 auto;
// }
// * html .connect-container {
//   height: 100%;
// }

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h3 {
  margin-block-start: 2em;
}

.page {
  padding: 2em;
}

.dialog {
  padding: 1.2em;
}

.profile-page {
  padding: 1.6em 1.6em 0 1.6em;
}

.feed-page {
  padding: 1em 1em 0 1em;
}

.no-lines {
  border-left: 2px solid transparent !important;
}

.lines {
  border-left: 2px solid rgba(255, 255, 255, 0.15) !important;
}




.image-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.image-grid img {
  display: block;
  height: 400px;
  object-fit: cover;
  width: 400px;
}

.image-grid-item {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.image-grid-item img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}













/* When changing the sidenav-content to flex, the toolbar does not render properly, so a minor hack is needed. */
@media only screen and (max-width: 599px) {
  body {
    font-size: 16px;
  }

  .page {
    padding: 0.8em;
  }

  .profile-page {
    padding: 0.8em 0.8em 0 0.8em;
  }

  .feed-page {
    padding: 0.4em 0.4em 0 0.4em;
  }
}

a {
  // color: rgb(206, 206, 206);
}

a:hover {
  color: #c7b3ea;
  text-decoration: none;
}

app-profile-actions {
  display: inline;
}

/** Triggers scrolling if the vertical height is larger then horizontal for profile image popups and window size. */
.mdc-dialog {
  max-height: 100vh !important;
}

.mat-sidenav-content {
  /* Disable scrolling on the content, we want it specific on child element */
  // overflow: hidden !important;
}

/* Container for the actual content, which is our scrolling container. */
.scrolling-content {
  overscroll-behavior-y: contain;
  // overflow-y: scroll;
  overflow-y: overlay !important;
  overflow-x: hidden;
  // overflow: overlay !important;
  // height: 300px;
  height: 100%;
  // max-height: 300px;
  padding-bottom: 1em;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-root mat-toolbar {
  flex-grow: 1;
}

.mat-drawer-inner-container {
  overflow: overlay !important;
}

/* The container for main content. */
mat-sidenav-content {
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between;
}

/* Top element in main content, make it always appear on-top. */
mat-sidenav-content mat-toolbar {
  flex: 0 1 auto !important; /* When changing the sidenav-content to flex, the toolbar does not render properly, so a minor hack is needed. */
  height: 69px !important;
}

/* When changing the sidenav-content to flex, the toolbar does not render properly, so a minor hack is needed. */
@media only screen and (max-width: 599px) {
  mat-sidenav-content mat-toolbar {
    flex: 0 1 auto !important;
    height: 60px !important;
  }
}

.sidenav-left {
  min-width: 200px;
}

.sidenav-right {
  min-width: 320px;
}

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #595b5ca4;
  // border-radius: 20px;
  border: 8px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a3a5a7c2;
  border: 6px solid transparent;
}

.marginless {
  margin: 0;
}

.root-event {
  // margin-left: 3em;
  // background-color: #a30770 !important;
}

.current-event {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  // margin-left: 2em;
  background-color: transparent !important;
  border: 0 !important;
}

@media only screen and (max-width: 599px) {
  .current-event {
    margin-bottom: 0;
    // margin-left: 1em;
  }
}

.profile-button {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  margin-right: 1em;
  background-color: rgba(255, 255, 255, 0.12);
  border: 0;
  // padding: 1em;
  text-decoration: none;
  padding: 0;
  align-items: flex-start;
  text-align: center;
}

.profile-button:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.65);
}

.profile-button-icon {
  // margin-top: -1em;
  // margin-left: -1em;
  // font-size: 16px;
  // font-size: 16px;
  // height: auto !important;
  // width: auto !important;
}

.events {
  margin-top: 1em;
  padding: 1em;
  margin-bottom: 0;
  border-radius: 10px !important;
}

// .events {
//   background-color: #535353;
//   cursor: pointer;
// }

.events.clickable:hover {
  // background-color: #535353;
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.noclick:hover {
  background-color: rgba(0, 0, 0, 0.04);
  // background-color: #424242;
  cursor: default;
}

.events-header {
  gap: 0.4em;
  display: flex;
  flex-direction: row;
}

.events-header app-event-header {
  flex-grow: 2;
}

.events-header app-profile-actions {
  width: 48px;
}

// .items {
//   margin-top: 1em;
//   padding: 1em;
//   margin-bottom: 1em;
//   background-color: #424242;
//   border-radius: 10px;
// }

.options {
}

.ln-link {
  text-decoration: none;
}

.ln-link:hover {
}

.profile-image {
  /* border: 1px solid; */
}

.profile-image-follow {
  border: 4px solid transparent;
}

.muted {
  text-decoration: line-through;
}

.profile-page-header {
  display: flex;
  gap: 1em;
}

.profile-page-header-left {
  flex: 0 1 auto;
}

.profile-page-header-middle {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .profile-page-header-right {
//   width: 48px;
// }

.profile-button-container {
  float: right;
}

// @media only screen and (max-width: 599px) {
//   .profile-button-container {
//     margin-bottom: 0.4em;
//   }
// }

.event-header {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 1em;
  // column-gap: 1em;
  grid-template-areas:
    "icon name"
    "icon date";
}

.event-header a {
  text-decoration: none;
}

.event-header a:hover {
  text-decoration: underline;
}

.event-header .icon {
  grid-area: icon;
}

.event-header .icon img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.profile-image-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-image-large:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media only screen and (max-width: 599px) {
  .profile-image-large {
    width: 96px;
    height: 96px;
    border-radius: 50%;
  }
}

.event-header .name {
  grid-area: name;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-header .date {
  grid-area: date;
  // color: rgba(206, 206, 206, 0.618);
  font-size: 0.8em;
}

.content {
  padding: 0.2em 0.2em 0.2em 0.2em;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.linebreaks {
  white-space: pre-line;
}

.wrap {
  overflow-wrap: break-word !important;
}

.more {
  text-overflow: ellipsis !important;
}

.action-button {
  float: right;
  // margin-top: -0.4em;
  // margin-right: -0.4em;
}

.action-button-icon {
  font-size: 18px;
  // font-size: 16px;
  // height: auto !important;
  // width: auto !important;
}

.expand-button {
  float: right;
  margin-top: -1.2em;
  margin-right: -0.4em;
}

.expand-button-icon {
  font-size: 18px;
  // font-size: 16px;
  // height: auto !important;
  // width: auto !important;
}

.directory-icon {
  font-size: 10px;
  height: auto !important;
  width: auto !important;
}

.centered {
  text-align: center;
}

.event-date {
  margin-right: 0.1em;
}

.options-slider {
  margin-right: 1em;
}

textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

.dimmed {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.65);
}

.dark .dimmed {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.65);
}

small {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.65);
}

.dark small {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.65);
}

.space {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.full-width-dialog {
  min-width: 600px;
}

.hashtags {
  font-size: 0.75em;
  margin-top: 0.6em;
}

.input-full-width {
  width: 100% !important;
}

mat-card-footer {
  padding: 16px;
}

.header-image {
  background-image: url("/assets/profile.png");
  background-size: cover;
}

.mat-mdc-card-avatar {
  width: 50px !important;
  height: 50px !important;
}

.profile-form {
  min-width: 150px;
  width: 100%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 599px) {
  .full-width-dialog {
    max-width: 100vw !important;
    height: 100%;
    width: 100%;
    min-width: 0;
  }

  .hide-small {
    display: none !important;
  }
}
