// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "@fontsource/material-icons";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blockcore-notes-primary: mat.define-palette(mat.$deep-purple-palette);
$blockcore-notes-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$blockcore-notes-warn: mat.define-palette(mat.$red-palette);

$blockcore-notes-typography: mat.define-typography-config(
  $font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif',
);

$blockcore-notes-level: mat.define-typography-level(
  $font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif',
  $font-weight: 400,
  $font-size: "18px",
  $line-height: 1,
  $letter-spacing: normal,
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$blockcore-notes-theme: mat.define-dark-theme(
  (
    color: (
      primary: $blockcore-notes-primary,
      accent: $blockcore-notes-accent,
      warn: $blockcore-notes-warn,
    ),
    typography: $blockcore-notes-typography,
    level: $blockcore-notes-level,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($blockcore-notes-theme);

// $blockcore-notes-level: mat.define-typography-level(
//   $font-family: Roboto,
//   $font-weight: 400,
//   $font-size: 1rem,
//   $line-height: 1,
//   $letter-spacing: normal,
// );

/* You can add global styles to this file, and also import other style files */

// $angular-dark-theme: mat.define-dark-theme(
//   (
//     color: (
//       primary: $angular-primary,
//       accent: $angular-accent,
//       warn: $angular-warn,
//     ),
//   )
// );

// .darkMode {
//   @include mat.all-component-colors($angular-dark-theme);
// }

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-size: 18px;
  background-color: #212121;
  color: white;
  overscroll-behavior-y: contain;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h3 {
  margin-block-start: 2em;
}

.page {
  padding: 2em;
}

.feed-page {
  padding: 1em 1em 0 1em;
}

a {
  color: rgb(206, 206, 206);
}

a:hover {
  color: #c7b3ea;
  text-decoration: none;
}

.mat-sidenav-content {
  /* Disable scrolling on the content, we want it specific on child element */
  overflow: hidden !important;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-root mat-toolbar {
  flex-grow: 1;
}

.mat-drawer-inner-container {
  overflow: overlay !important;
}

/* The container for main content. */
mat-sidenav-content {
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between;
}

/* Top element in main content, make it always appear on-top. */
mat-sidenav-content mat-toolbar {
  flex: 0 1 auto !important; /* When changing the sidenav-content to flex, the toolbar does not render properly, so a minor hack is needed. */
  height: 69px !important;
}

/* When changing the sidenav-content to flex, the toolbar does not render properly, so a minor hack is needed. */
@media only screen and (max-width: 599px) {
  mat-sidenav-content mat-toolbar {
    flex: 0 1 auto !important;
    height: 60px !important;
  }
}

/* Container for the actual content, which is our scrolling container. */
.scrolling-content {
  overflow: overlay !important;
  height: 100%;
}

.sidenav-left {
}

.sidenav-right {
  min-width: 200px;
}

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #595b5ca4;
  // border-radius: 20px;
  border: 8px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a3a5a7c2;
}

.marginless {
  margin: 0;
}

.events {
  margin-top: 1em;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #424242;
  border-radius: 10px;
}

// .events {
//   background-color: #535353;
//   cursor: pointer;
// }

.events.clickable:hover {
  background-color: #535353;
  cursor: pointer;
}

.noclick:hover {
  background-color: #424242;
  cursor: default;
}

.items {
  margin-top: 1em;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #424242;
  border-radius: 10px;
}

.options {
}

.event-header {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 1em;
  // column-gap: 1em;
  grid-template-areas:
    "icon name"
    "icon date";
}

.event-header a {
  color: white;
  text-decoration: none;
}

.event-header a:hover {
  color: silver;
  text-decoration: underline;
}

.event-header .icon {
  grid-area: icon;
}

.event-header .icon img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.event-header .name {
  grid-area: name;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-header .date {
  grid-area: date;
  color: rgba(206, 206, 206, 0.618);
  font-size: 0.8em;
}

.content {
  padding: 0.2em 0.2em 0.2em 0.2em;
  overflow-wrap: break-word;
}

.wrap {
  overflow-wrap: break-word !important;
}

.more {
  text-overflow: ellipsis !important;
}

.action-button {
  float: right;
  margin-top: -0.4em;
  margin-right: -0.4em;
}

.action-button-icon {
  font-size: 18px;
  // font-size: 16px;
  // height: auto !important;
  // width: auto !important;
}

.expand-button {
  float: right;
  margin-top: -1.2em;
  margin-right: -0.4em;
}

.expand-button-icon {
  font-size: 18px;
  // font-size: 16px;
  // height: auto !important;
  // width: auto !important;
}

.directory-icon {
  font-size: 10px;
  height: auto !important;
  width: auto !important;
}

.centered {
  text-align: center;
}

.event-date {
  margin-right: 0.1em;
}

.options-slider {
  margin-right: 1em;
}

textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

.dimmed {
  font-size: 0.9em;
  color: gray;
  // color: rgba(0, 0, 0, 0.87);
}

.space {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.full-width-dialog {
  min-width: 600px;
}

.hashtags {
  font-size: 0.8em;
  margin-top: 0.4em;
}

@media only screen and (max-width: 599px) {
  .full-width-dialog {
    max-width: 100vw !important;
    height: 100%;
    width: 100%;
    min-width: 0;
  }
}
