<div mat-dialog-actions *ngIf="wallet" class="mat-dialog-actions" align="end">
    <button *ngIf="wallet.isGuest"
            class="rounded-button"  mat-flat-button color="secondary" (click)="randomizeKey()">Randomize</button>
    <button *ngIf="wallet.isGuest"
            class="rounded-button"  mat-flat-button color="primary" (click)="saveConfiguration()">Save Configuration</button>
    <button *ngIf="!wallet.isGuest && wallet.isInSession"
            class="rounded-button"  mat-flat-button color="secondary" (click)="previewChannel()">Preview a Channel</button>
    <button *ngIf="!wallet.isGuest && !wallet.isInSession"
            class="rounded-button"  mat-flat-button color="primary" (click)="nip76Service.login()">Start Secure Session</button>
    <button *ngIf="wallet.isInSession"
            class="rounded-button"  mat-flat-button color="primary" (click)="nip76Service.logout()">End Secure Session</button>
</div>

<div *ngIf="wallet?.isGuest" class="feed-page">
    <p>NIP 76 Private Channels are not initialized for this profile yet.</p>
    <p>To get started:</p>
    <ol>
        <li class="instruction">
            <a class="action-link" (click)="randomizeKey()">Randomize</a> the keys. (OPTIONAL).
        </li>
        <li class="instruction">
            <a class="action-link" (click)="saveConfiguration()">Save</a> it to begin using.
        </li>
    </ol>
    <mat-card-content>               
        <div *ngIf="editChannel">
            <mat-form-field class="input-full-width" appearance="fill">
                <mat-label>Index</mat-label>
                <input matInput type="text" [value]="editChannel.ap.nostrPubKey" readonly/>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <mat-label>Name</mat-label>
                <input matInput type="text" [(ngModel)]="editChannel.content.name" />
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <mat-label>About</mat-label>
                <input matInput type="text" [(ngModel)]="editChannel.content.about"/>
            </mat-form-field>
        </div>
    </mat-card-content>    
</div>

<mat-tab-group  *ngIf="wallet?.isInSession" [selectedIndex]="tabIndex"  (selectedTabChange)="onTabChanged($event)" class="feed-page">
    <mat-tab label="Manage Channels">
        <div *ngIf="wallet.channels.length">
            <div *ngFor="let thread of wallet.channels" [style.display]="!thread.ready ? 'none' : 'block'">
                <mat-card class="settings-card" [class]="editChannel===thread ? 'edit': ''">
                    <mat-card-content>
                        <div mat-dialog-actions class="mat-dialog-actions">
                            <button class="rounded-button"  mat-flat-button color="secondary" (click)="cancelEdit()" *ngIf="editChannel===thread">Cancel</button>
                            <button class="rounded-button"  mat-flat-button color="primary" (click)="saveChannel()" *ngIf="editChannel===thread" style="float:right;">Save</button>
                            <button class="rounded-button"  mat-flat-button color="secondary" (click)="editChannel=thread" *ngIf="editChannel!==thread"> Edit </button>
                            <button class="rounded-button"  mat-flat-button color="secondary" (click)="viewChannelFollowers(thread)" *ngIf="editChannel!==thread">Followers</button>
                            <button class="rounded-button"  mat-flat-button color="secondary" (click)="copyKeys(thread)" *ngIf="editChannel!==thread">Copy Keys</button>
                            <button class="rounded-button"  mat-flat-button color="primary" (click)="viewChannelNotes(thread)" *ngIf="editChannel!==thread" style="float:right;">View Notes</button>
                        </div>                  
                        <div *ngIf="editChannel!==thread">
                            <mat-form-field class="input-full-width" appearance="fill">
                                <mat-label>Index</mat-label>
                                <input matInput type="text" [value]="thread.ap.nostrPubKey" readonly/>
                            </mat-form-field>
                            <mat-form-field class="input-full-width" appearance="fill">
                                <mat-label>Name</mat-label>
                                <input matInput type="text" [value]="thread.content.name || ''" readonly/>
                            </mat-form-field>
                            <mat-form-field class="input-full-width" appearance="fill">
                                <mat-label>About</mat-label>
                                <input matInput type="text" [value]="thread.content.about || ''" readonly/>
                            </mat-form-field>
                        </div>
                        <div *ngIf="editChannel===thread">
                            <mat-form-field class="input-full-width" appearance="fill">
                                <mat-label>Index</mat-label>
                                <input matInput type="text" [value]="editChannel.ap.nostrPubKey" readonly/>
                            </mat-form-field>
                            <mat-form-field class="input-full-width">
                                <mat-label>Name</mat-label>
                                <input matInput type="text" [(ngModel)]="editChannel.content.name" />
                            </mat-form-field>
                            <mat-form-field class="input-full-width">
                                <mat-label>About</mat-label>
                                <input matInput type="text" [(ngModel)]="editChannel.content.about"/>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div mat-dialog-actions class="mat-dialog-actions" align="end">
            <button *ngIf="wallet.isInSession"
                    class="rounded-button"  mat-flat-button color="primary" (click)="addChannel()">Add Channel</button>
        </div> 
    </mat-tab>
    <mat-tab label="Following">
        <div *ngFor="let thread of wallet.following" [style.display]="!thread.ready ? 'none' : 'block'">
            <mat-card class="settings-card">
                <mat-card-content>
                    <app-event-header [pubkey]="thread.ownerPubKey"></app-event-header>
                    <div mat-dialog-actions class="mat-dialog-actions">
                        <button class="rounded-button"  mat-flat-button color="secondary" (click)="copyKeys(thread)" *ngIf="editChannel!==thread">Copy Keys</button>
                        <button class="rounded-button"  mat-flat-button color="primary" (click)="viewChannelNotes(thread)" *ngIf="editChannel!==thread" style="float:right;">View Notes</button>
                    </div>                  
                    <div *ngIf="editChannel!==thread">
                        <mat-form-field class="input-full-width" appearance="fill">
                            <mat-label>Index</mat-label>
                            <input matInput type="text" [value]="thread.ap.nostrPubKey" readonly/>
                        </mat-form-field>
                        <mat-form-field class="input-full-width" appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" [value]="thread.content.name || ''" readonly/>
                        </mat-form-field>
                        <mat-form-field class="input-full-width" appearance="fill">
                            <mat-label>About</mat-label>
                            <input matInput type="text" [value]="thread.content.about || ''" readonly/>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>        
    </mat-tab>
    <mat-tab label="Followers">
        <div *ngIf="activeChannel" [style.padding]="8">
            <div mat-dialog-actions class="mat-dialog-actions" align="end" style="margin-top: 10px;" >
                <small>Private Thread {{activeChannel.ap.nostrPubKey}}</small><br>
            </div>        
        </div>
    </mat-tab>
    <mat-tab label="Notes">
        <div *ngIf="activeChannel && tabIndex === 3" [style.padding]="8">
            <div style="font-size: 8px;">Private Thread {{activeChannel.ap.nostrPubKey}}</div>
            <div mat-dialog-actions class="mat-dialog-actions" style="margin-top: 10px;" >
                <button class="rounded-button"  mat-flat-button color="primary" (click)="follow(activeChannel)">Follow</button>
                <button class="rounded-button"  mat-flat-button color="secondary" (click)="copyKeys(activeChannel)">Copy Keys</button>
                <img *ngIf="!showNoteForm" width="46" height="46" 
                    (click)="showNoteForm=true" src="/assets/post.svg" class="new-post-button" style="float: right;" />
            </div>
            <form [formGroup]="noteForm" *ngIf="showNoteForm" (ngSubmit)="saveNote()">
                <div mat-dialog-content class="mat-dialog-content">
                    <mat-form-field class="input-full-width">
                    <mat-label>What's on your mind?</mat-label>
                    <textarea appContentEditor appAutoInputHeight #noteContent class="note-input noscrollbars" matInput type="text" formControlName="content" rows="2"></textarea>
                    </mat-form-field>            
                    <emoji-mart class="picker" *ngIf="isEmojiPickerVisible" emoji="point_up" [isNative]="true" [showPreview]="false" (emojiSelect)="addEmojiNote($event)" title="Choose your emoji"></emoji-mart>
                    <mat-icon class="toolbar-icon margin-right" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;" matTooltip="Insert emoji">sentiment_satisfied</mat-icon>
                </div>
                <div mat-dialog-actions class="mat-dialog-actions" align="end">
                    <button mat-stroked-button type="button" (click)="showNoteForm=false" >Cancel</button>&nbsp;
                    <button mat-flat-button type="submit" color="primary" [disabled]="!noteForm.valid || !activeChannel.ready">Publish Note</button>
                </div>
            </form>
            <mat-card class="events" *ngFor="let post of readyPosts; trackBy: trackByFn">
                <div class="events-header">
                    <app-event-header [pubkey]="post.ownerPubKey">
                    <span class="event-date" [matTooltip]="post.nostrEvent.id!" matTooltipPosition="below">{{ post.nostrEvent.created_at | ago }}</span> 
                    <app-directory-icon [pubkey]="post.nostrEvent.pubkey"></app-directory-icon>
                </app-event-header>
                    <app-event-actions [event]="post.nostrEvent"></app-event-actions>
                </div>
                <app-content [event]="post.nostrEvent"></app-content>
                <div class="thread-reactions">
                    <span class="thread-reaction" *ngFor="let item of post.reactionTracker | keyvalue"> {{ item.key }} {{ item.value }} </span>
                </div>
                <app-nip76-event-buttons [doc]="post"></app-nip76-event-buttons>
                <app-nip76-event-thread [doc]="post"></app-nip76-event-thread>
                </mat-card>
            </div>        
        </mat-tab>        
    </mat-tab-group>
    
    <!-- <app-event-thread [event]="post.nostrEvent"></app-event-thread> -->
<!--
<div class="scrolling-content" infiniteScroll (scrollAction)="navigation.showMore()">
    <div class="page">
    </div>
</div>
-->
