.input-full-width {
  width: 100% !important;
}

.circle {
  cursor: pointer;
}

.circle:hover {
  color: #fff;
}

.color {
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  margin: 12px;
  border-radius: 50%;
}

.circle-input {
  margin-right: 1em;
}

@media only screen and (max-width: 540px) {
  .circle-input {
    margin-right: 0;
    width: 100%;
  }
}
