.input-full-width {
  width: 100% !important;
}

.mat-dialog-content {
  padding: 20px 24px 0px 24px !important;
}

.mat-dialog-actions {
  padding: 10px 24px 24px 24px;
}

.circle {
  cursor: pointer;
}

.circle:hover {
  color: #fff;
}

.color {
  width: 24px;
  height: 24px;
  border: 2px solid #FFF;
  margin: 12px;
  border-radius: 50%;

}
