<div class="page">
  <!-- <button mat-flat-button class="wipe-button" (click)="db.clearAndReload()">Issues? Wipe Local Database</button> -->

  <div class="profile-line">
    <div class="horizontal-scroll-container" appDragScroll>
      @for (profile of profiles; track profile) {
        <app-event-header
          [listType]="'icon'"
          [iconSize]="'thumbnail'"
          [displayName]="false"
          [displayContent]="false"
          [profile]="profile"
          [routerLink]="['/p', profile.pubkey]"
          draggable="false"
          ondragstart="return false;">
        </app-event-header>
      }
      <div class="profile-line-more-wrapper">
        <button mat-icon-button routerLink="/people" class="profile-line-more-button">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
    </div>

    <div class="home-right">

      <mat-card class="events clickable" (click)="navigation.openEvent($event, event)" *ngFor="let event of latestItems; trackBy: trackByFn">
        <div class="events-header">
          <app-event-header [pubkey]="event.pubkey"><span class="event-date" matTooltipPosition="below">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon></app-event-header>
          <app-event-actions [event]="event"></app-event-actions>
        </div>
        <app-content [event]="event"></app-content>
      </mat-card>

    </div>
  </div>

  <div class="home">
    <div class="home-left">
      <mat-card class="home-card">
        <mat-card-header>
          <mat-card-title>{{ 'Home.ActivityFeed' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="activity-feed" *ngIf="ui.activityFeed$ | async as activityFeed">
          <p *ngFor="let notification of activityFeed">
            <app-notification-label [notification]="notification"></app-notification-label>
          </p>
          <p class="dimmed" *ngIf="activityFeed.length == 0">{{ 'Home.NoActivities' | translate }}</p>
          <div class="centered">
            <button mat-button routerLink="/notifications">{{ 'Home.ViewMore' | translate }}</button>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="home-card">
        <mat-card-header>
          <mat-card-title>{{ 'Home.FollowingLists' | translate }}</mat-card-title>
          <mat-card-subtitle>{{ 'Home.FollowingListsNote' | translate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="list-selection" *ngFor="let list of lists">
            {{ list.name }}<br />
            <small>{{ list.about }}</small><br />
            <button class="full-width" [routerLink]="['/following', list.pubkeyhex]" mat-flat-button color="primary">{{ 'Home.ViewProfiles' | translate }}</button>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="home-card">
        <mat-card-header>
          <mat-card-title>{{ 'Home.Prototype' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ 'Home.PrototypeTitle' | translate }}</p>
          <p>{{ 'Home.PrototypeSubtitle' | translate }}</p>
          <p>
            <a href="https://geyser.fund/project/blockcore" target="_blank" rel="noopener">geyser.fund/blockcore</a>
          </p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>
