.dashboard-header {
  display: flex;
  gap: 2em;
  flex-direction: row;
}

.dashboard-header mat-card {
  border-radius: 20px;
}

@media only screen and (max-width: 820px) {
  .dashboard-header {
    flex-direction: column;
    gap: 1em;
  }
}

.card-container {
  box-sizing: border-box;
}

.default-card {
  display: inline-block;
  /* margin-bottom: 1em; */
  width: 300px;
  height: 160px;
  margin-right: 1em;
  margin-bottom: 1em;
}

.follow-button {
  margin-top: 1em;
  width: 100%;
  font-size: 1.4em;
  height: 72px;
  text-align: center;
}

.follow-card-content {
  text-align: center;
}

.follow-toggle {
  margin-top: 1em;
  margin-bottom: 1em;
}
