<div class="page">
  <!-- <div class="dashboard-header">
    <mat-card>
      <mat-card-content>2300 <small>Followers</small></mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>500 <small>Following</small></mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>640 <small>Profiles (Cached)</small></mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>4 <small>Notes (Saved)</small></mat-card-content>
    </mat-card>
  </div> -->

  <div class="dashboard">
    <div class="dashboard-left">
      <h1 class="marginless">Hi, having fun yet?</h1>

      <!-- <button (click)="downloadProfiles()">Click me</button>

      <button (click)="subscribeEvents()">Click me2</button>

      <button (click)="subscribeEvents2()">Click me3</button>

      <button (click)="downloadProfiles2()">Click me4</button> -->

      <p>You can import your existing followers:</p>
      <button class="follow-button" mat-flat-button color="primary" (click)="import(this.appState.getPublicKey())">Import your following list</button>
      <br /><br />

      <h2>PROTOTYPE</h2>
      <p>Blockcore Notes is a prototype. Please wipe your local database once in a while to fix bugs and issues.</p>
      <p>
        <button mat-flat-button color="warn" (click)="clearDatabase()">Wipe Local Database</button>
      </p>

      <!-- <div *ngIf="defaults$ | async as defaults">
        <div *ngIf="defaults.length > 0">
          <p>If you are new to Blockcore Notes, here are some interesting people you can follow.</p>

          <div class="card-container">
            <mat-card class="default-card" *ngFor="let profile of defaults; trackBy: trackByProfile" [@fade]="profile.checked">
              <mat-card-header>
                <img mat-card-avatar [src]="profile.picture" />
                <mat-card-title [matTooltip]="profile.pubkey" matTooltipPosition="above">{{ profile.name }}</mat-card-title>
                <mat-card-subtitle>{{ profile.about }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="follow-card-content">
                <mat-slide-toggle class="follow-toggle" color="primary" (change)="follow(profile)" [(ngModel)]="profile.checked">Follow {{ profile.name }}</mat-slide-toggle>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div> -->
    </div>
    <div class="dashboard-right">
      <mat-card class="lists-card">
        <mat-card-header>
          <mat-card-title>Curated Following Lists</mat-card-title>
          <mat-card-subtitle>Lists of users based upon topics you can add to your following list.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="list-selection" *ngFor="let list of lists">
            {{ list.name }}<br />
            <small>{{ list.about }}</small><br />
            <button [routerLink]="['/following', list.pubkey]" mat-flat-button color="primary">FOLLOW ALL</button>&nbsp;
            <!-- <button (click)="import(list.pubkeyhex)" mat-button>BLOCK ALL</button> -->
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
