.picker {
  display: block;
  z-index: 3;
}

.thread-actions {
  padding-left: 1em;
  margin-left: 1em;
  padding-bottom: 0.3em;
}

.toolbar-icon {
  cursor: pointer;
}

.toolbar-icon:hover {
  color: #9c27b0;
}

.reaction-icon {
  font-size: 1.4em;
}
