<div class="thread-buttons" [ngClass]="{ 'no-lines': !optionsService.values.showLines, 'lines': optionsService.values.showLines }">
  <ng-template [ngIf]="!replyOpen">
    <mat-icon tabindex="0" class="reaction-icon toolbar-icon" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;" matTooltip="Reaction to note">favorite_border</mat-icon>
    <mat-icon tabindex="0" class="reaction-icon toolbar-icon" (click)="openReply()" matTooltip="Reply to note">chat_bubble_outline</mat-icon>
    <mat-icon tabindex="0" *ngIf="optionsService.values.enableZapping" class="reaction-icon toolbar-icon" (click)="openDialog()" matTooltip="Zap the note">offline_bolt</mat-icon>
    <emoji-mart class="picker" *ngIf="isEmojiPickerVisible" emoji="point_up" [isNative]="true" [showPreview]="true" (emojiSelect)="addEmoji($event)" title="Choose your reaction"></emoji-mart>
    <mat-icon tabindex="0" class="reaction-icon toolbar-icon right-side" (click)="saveNote()" matTooltip="Bookmark">bookmark_border</mat-icon>
    <!-- <button (click)="openReply()" mat-button>Reply</button> -->
  </ng-template>
  <!-- <button mat-button>
    <mat-icon class="toolbar-icon" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;" matTooltip="Insert reaction">sentiment_satisfied</mat-icon>
    Reaction
  </button> -->

  <div class="reply-widget" *ngIf="replyOpen">
    <mat-form-field class="input-full-width">
      <mat-label>Note</mat-label>
      <textarea #replyInput [tabIndex]="0" class="note-input" matInput type="text" [(ngModel)]="note" rows="6"></textarea>
    </mat-form-field>

    <div class="reply-widget-buttons">
      <mat-icon class="toolbar-icon margin-right" (click)="isEmojiPickerTextVisible = !isEmojiPickerTextVisible;" matTooltip="Insert emoji in text">sentiment_satisfied</mat-icon>
      <emoji-mart class="picker" *ngIf="isEmojiPickerTextVisible" emoji="point_up" [isNative]="true" [showPreview]="false" (emojiSelect)="addEmojiInText($event)" title="Choose your emoji"></emoji-mart>
      <div class="reply-widget-middle"></div>
      <small class="error" *ngIf="error">{{ error }}</small>
      <button mat-stroked-button (click)="hideReply()" color="primary">Cancel</button>
      <button *ngIf="publishing" [mtBasicSpinner]="true" mat-icon-button></button>
      <button *ngIf="!publishing" mat-flat-button [disabled]="note?.length == 0" (click)="addReply()" color="primary">Reply</button>

    </div>
  </div>
</div>
