.picker {
  display: block;
  z-index: 3;
}

.thread-actions {
  padding-left: 1em;
  margin-left: 27px;
  padding-bottom: 0.3em;
}

.toolbar-icon {
  cursor: pointer;
}

.toolbar-icon:hover {
  color: #9c27b0;
}

.reaction-icon {
  font-size: 1.4em;
}

.reply-widget {
  padding-top: 1em;
  padding-bottom: 1em;
}

.reply-widget-buttons {
  display: flex;
  flex-direction: row;
}

.reply-widget-middle {
  flex: 1 2 auto;
}

.thread-actions button {
  margin-left: 0.4em;
}
