<span *ngIf="feedService.threadedEvents$ | async as events">
  <mat-progress-bar *ngIf="events == null" mode="indeterminate"></mat-progress-bar>

  <div class="page loading-container" *ngIf="!profileService.initialized">
    We'll be right ready for you... wait a second or two.<br /><br /><br />
    <mat-spinner class="loading"></mat-spinner>
  </div>

  <div class="page loading-container" *ngIf="profileService.initialized && events.length === 0 && profileService.profiles.length > 0">
    Updating the user profiles and getting their recent notes... wait a few seconds.<br /><br /><br />
    <mat-spinner class="loading"></mat-spinner>
  </div>

  <div class="page" *ngIf="profileService.initialized && profileService.profiles.length === 0">
    <h1 class="marginless">Hi, having fun yet?</h1>
    <p>Here are some interesting people you can follow. Make your selection and then click the large "Follow" button to get started.</p>

    <mat-grid-list gutterSize="1em" [cols]="(isHandset$ | async) ? '1' : '2'" rowHeight="180px">
      <mat-grid-tile *ngFor="let profile of defaults">
        <!-- <img [src]="profile.picture">&nbsp;
        {{ profile.name }}<br>
        {{ profile.pubkey }}<br><br>
        <button mat-raised-button color="primary">Follow</button> -->

        <mat-card class="default-card">
          <mat-card-header>
            <img mat-card-avatar [src]="profile.picture" />
            <mat-card-title>{{ profile.name }}</mat-card-title>
            <mat-card-subtitle>{{ profile.about }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="more dimmed">{{ profile.pubkey }}</p>
            <mat-slide-toggle class="example-margin" color="primary" [(ngModel)]="profile.checked">Follow {{ profile.name }}</mat-slide-toggle>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <button class="follow-button" mat-raised-button color="primary" (click)="follow()">Follow</button>

    <!-- <div *ngFor="let profile of defaults">
      <mat-card class="default-card">
        <mat-card-header>
          <img mat-card-avatar [src]="profile.picture" />
          <mat-card-title>{{ profile.name }}</mat-card-title>
          <mat-card-subtitle>{{ profile.about }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="wrap">
            {{ profile.pubkey }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Follow</button>
        </mat-card-actions>
      </mat-card>
    </div> -->
  </div>

  <div class="feed-page" *ngIf="events.length > 0">
    <mat-accordion class="options">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Options</mat-panel-title>
          <mat-panel-description>{{ activeOptions() }}</mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.flatfeed" (ngModelChange)="optionsUpdated()">Flat Feed (turn off threads)</mat-slide-toggle>
          <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.ascending" (ngModelChange)="optionsUpdated()">Oldest first</mat-slide-toggle>
          <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.paused">Pause feed</mat-slide-toggle>
          <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.hideSpam" (ngModelChange)="optionsUpdated()">Hide spam</mat-slide-toggle>
          <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.hideInvoice" (ngModelChange)="optionsUpdated()">Hide LN invoices</mat-slide-toggle>
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="events" *ngFor="let event of events; trackBy: trackByFn">
      <app-profile-actions [event]="event"></app-profile-actions>
      <app-profile-header [pubkey]="event.pubkey"
        ><span class="event-date" matTooltipPosition="below">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
      ></app-profile-header>
      <div class="content">
        {{ event.content }}<span *ngIf="event.contentCut">... (message was truncated)</span>
        <div *ngIf="details">
          <br />
          <span *ngFor="let tag of event.tags" class="dimmed">TAG: {{ tag }}</span>
        </div>
      </div>
      <button *ngIf="!details" class="expand-button" mat-icon-button (click)="toggleDetails()">
        <mat-icon class="expand-button-icon">expand_more</mat-icon>
      </button>
      <button *ngIf="details" class="expand-button" mat-icon-button (click)="toggleDetails()">
        <mat-icon class="expand-button-icon">expand_less</mat-icon>
      </button>
    </div>
  </div>
</span>
