<div class="messages-list-container">
  <div #scrollable class="scrollable">
    <ng-container *ngIf="chat">
      <ng-container *ngFor="let message of chat.chat">
        <app-message-bubble [message]="message"></app-message-bubble>
      </ng-container>
    </ng-container>
    <mat-spinner diameter="24" color="warn" *ngIf="sending"></mat-spinner>
  </div>

  <div class="message-send">
      <mat-form-field class="input-full-width">
        <input autocomplete="off" #message type="text" matInput placeholder="Write a message" (keypress)="saveMessage($event)">
        <mat-hint align="end" class="hint">Length : {{message.value.length}}</mat-hint>
        <mat-icon class="toolbar-icon" matSuffix>sentiment_satisfied</mat-icon>
        <mat-icon class="toolbar-icon" matSuffix>mic</mat-icon>
        <mat-icon class="toolbar-icon" matSuffix>attach_file_add</mat-icon>
      </mat-form-field>
  </div>
</div>
