:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.messages-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.65);;
}

.scrollable {
  max-height: 100%;
  overflow: auto;
  padding: 16px;
}

.message-send {
  display: flex;
  flex-direction: row;
  padding: 8px 16px 0;
}

.bubble {
  $this: &;
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;

  .cover {
    width: 36px;
    height: 36px;
    margin-right: 16px;
    border-radius: 18px;
    overflow: hidden;
  }

  .picture {
    display: block;
    max-width: 100%;
  }

  .container {
    flex: 1;
  }

  .card {
    display: inline-block !important;
  }

  .me {
    flex-direction: row-reverse;

    .container {
      display: flex;
      justify-content: flex-end;

      .mat-card {
        background-color: rgba(255, 255, 255, 0.55);
      }
    }

    .cover {
      margin-right: 0;
      margin-left: 16px;
    }
  }
}

