<!-- <mat-progress-bar *ngIf="!events || events.length == 0" mode="indeterminate"></mat-progress-bar> -->

<div class="feed-page">
  <div class="parent-events events" *ngIf="thread.root$ | async as event">
    <span *ngIf="event.kind != 7">
      <app-profile-actions [event]="event" [pubkey]="event.pubkey"></app-profile-actions>
      <app-profile-header [pubkey]="event.pubkey"
        ><span class="event-date">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
      ></app-profile-header>

      <div class="content">{{ event.content }}<span *ngIf="event.contentCut">... (message was truncated)</span></div>
    </span>
  </div>

  <div class="feed-page" *ngIf="thread.before$ | async as events">
    <div class="events" *ngFor="let event of events; trackBy: trackByFn">
      <span *ngIf="event.kind != 7">
        <app-profile-actions [event]="event" [pubkey]="event.pubkey"></app-profile-actions>
        <app-profile-header [pubkey]="event.pubkey"
          ><span class="event-date">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
        ></app-profile-header>

        <div class="content">{{ event.content }}<span *ngIf="event.contentCut">... (message was truncated)</span></div>
      </span>
    </div>
  </div>

  <!-- <div class="parent-events events" *ngFor="let event of filteredThread(); trackBy: trackByFn">
    <span *ngIf="event.kind != 7">
      <app-profile-actions [event]="event" [pubkey]="event.pubkey"></app-profile-actions>
      <app-profile-header [pubkey]="event.pubkey"
        ><span class="event-date">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
      ></app-profile-header>

      <div class="content">{{ event.content }}<span *ngIf="event.contentCut">... (message was truncated)</span></div>
    </span>
  </div> -->

  <div class="original-post events noclick" *ngIf="thread.event$ | async as event">
    <app-profile-actions [event]="event" [pubkey]="event.pubkey"></app-profile-actions>
    <app-profile-header [pubkey]="event.pubkey"
      ><span class="event-date">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
    ></app-profile-header>
    <div class="content">
      {{ event.content }}<span *ngIf="event.contentCut">... (message was truncated)</span><br />
      <span class="dimmed">{{ rootLikes() }} likes&nbsp;&nbsp;{{ rootDislikes() }} dislikes&nbsp;&nbsp;{{ rootReplies() }} replies</span><br />
      <br /><span class="dimmed">Replying to {{ repliesTo() }}</span> <br /><span class="dimmed">Root {{ rootEvent() }}</span>
    </div>
  </div>
</div>
<mat-divider></mat-divider>

<div class="page" *ngIf="!thread.events$">
  <h3 class="marginless">Loading thread... this can take some seconds.</h3>
</div>

<div class="feed-page" *ngIf="thread.after$ | async as events">
  <!-- <mat-accordion class="options">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Options</mat-panel-title>
              <mat-panel-description>{{ activeOptions() }}</mat-panel-description>
            </mat-expansion-panel-header>
            <p>
              <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.paused">Pause feed</mat-slide-toggle>
              <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.hideSpam" (ngModelChange)="optionsUpdated()">Hide spam</mat-slide-toggle>
              <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.hideInvoice" (ngModelChange)="optionsUpdated()">Hide LN invoices</mat-slide-toggle>
  
            </p>
          </mat-expansion-panel>
        </mat-accordion> -->

  <div class="events" *ngFor="let event of events; trackBy: trackByFn">
    <span *ngIf="event.kind != 7">
      <app-profile-actions [event]="event" [pubkey]="event.pubkey"></app-profile-actions>
      <app-profile-header [pubkey]="event.pubkey"
        ><span class="event-date">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
      ></app-profile-header>

      <div class="content">{{ event.content }}<span *ngIf="event.contentCut">... (message was truncated)</span></div>
    </span>
  </div>
</div>
