<!-- <mat-progress-bar *ngIf="!events || events.length == 0" mode="indeterminate"></mat-progress-bar> -->

<div class="feed-page">
  <mat-accordion class="options">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Options</mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <mat-slide-toggle class="options-slider" [(ngModel)]="optionsService.options.showLines">Show lines</mat-slide-toggle>
      </p>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- <div class="root-event events" *ngIf="thread.root$ | async as event">
    <span>
      <app-profile-actions [event]="event" [pubkey]="event.pubkey"></app-profile-actions>
      <app-event-header [pubkey]="event.pubkey"
        ><span class="event-date">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
      ></app-event-header>
      <app-content [event]="event"></app-content>
    </span>
  </div>

  <ng-template *ngIf="thread.before$ | async as events">
    <div class="feed-page" *ngIf="events.length > 0">
      <mat-card class="events" *ngFor="let event of events; trackBy: trackByFn">
        <span>
          <div class="events-header">
            <app-event-header [pubkey]="event.pubkey"
              ><span class="event-date">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
            ></app-event-header>
            <app-event-actions [event]="event" [pubkey]="event.pubkey"></app-event-actions>
          </div>

          <app-content [event]="event"></app-content>
        </span>
      </mat-card>
    </div>
  </ng-template> -->

  <div class="current-event events noclick" *ngIf="thread.event$ | async as event">
    <div class="events-header">
      <app-event-header [pubkey]="event.pubkey"
        ><span class="event-date" [matTooltip]="event.created_at.toString()">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
      ></app-event-header>
      <app-event-actions [event]="event" [pubkey]="event.pubkey"></app-event-actions>
    </div>

    <app-content class="thread-content" [ngClass]="{ 'no-lines': !optionsService.options.showLines, 'lines': optionsService.options.showLines }" [event]="event"></app-content>
    <app-event-reactions class="thread-reactions" [threadEntry]="thread.getTreeEntry(thread.threadId)"></app-event-reactions>
  </div>

  <app-event-thread [threadEntry]="thread.getTreeEntry(thread.threadId)"> </app-event-thread>
</div>
<mat-divider></mat-divider>

<!-- <mat-progress-bar *ngIf="!thread.hasLoaded" mode="indeterminate"></mat-progress-bar> -->

<!-- <div class="feed-page" *ngIf="thread.after$ | async as events">
  <mat-card class="events clickable" (click)="navigation.openEvent($event, event)" *ngFor="let event of events; trackBy: trackByFn">
    <span>
      <div class="events-header">
        <app-event-header [pubkey]="event.pubkey"
          ><span class="event-date clickable">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
        ></app-event-header>
        <app-event-actions [event]="event" [pubkey]="event.pubkey"></app-event-actions>
      </div>
      <app-content [event]="event"></app-content>
    </span>
  </mat-card>
</div> -->
