<!-- <mat-progress-bar *ngIf="!events || events.length == 0" mode="indeterminate"></mat-progress-bar> -->

<div class="feed-page">
  <div class="root-event events" *ngIf="thread.root$ | async as event">
    <span>
      <app-profile-actions [event]="event" [pubkey]="event.pubkey"></app-profile-actions>
      <app-event-header [pubkey]="event.pubkey"
        ><span class="event-date">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
      ></app-event-header>
      <app-content [event]="event"></app-content>
      <!-- <div class="content">{{ event.content }}<span *ngIf="event.contentCut">... (message was truncated)</span></div> -->
    </span>
  </div>

  <ng-template *ngIf="thread.before$ | async as events">
    <div class="feed-page" *ngIf="events.length > 0">
      <mat-card class="events" *ngFor="let event of events; trackBy: trackByFn">
        <span>
          <div class="events-header">
            <app-event-header [pubkey]="event.pubkey"
              ><span class="event-date">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
            ></app-event-header>
            <app-profile-actions [event]="event" [pubkey]="event.pubkey"></app-profile-actions>
          </div>

          <app-content [event]="event"></app-content>
          <!-- <div class="content">{{ event.content }}<span *ngIf="event.contentCut">... (message was truncated)</span></div> -->
        </span>
      </mat-card>
    </div>
  </ng-template>
  <!-- <div *ngIf="!thread.before$">NO ITEMS!</div> -->
  <!-- </span> -->
  <!-- <div class="parent-events events" *ngFor="let event of filteredThread(); trackBy: trackByFn">
    <span *ngIf="event.kind != 7">
      <app-profile-actions [event]="event" [pubkey]="event.pubkey"></app-profile-actions>
      <app-event-header [pubkey]="event.pubkey"
        ><span class="event-date">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
      ></app-event-header>

      <div class="content">{{ event.content }}<span *ngIf="event.contentCut">... (message was truncated)</span></div>
    </span>
  </div> -->

  <div class="current-event events noclick" *ngIf="thread.event$ | async as event">
    <div class="events-header">
      <app-event-header [pubkey]="event.pubkey"
        ><span class="event-date">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
      ></app-event-header>
      <app-profile-actions [event]="event" [pubkey]="event.pubkey"></app-profile-actions>
    </div>

    <app-content [event]="event"></app-content>
    <!-- <div class="content">
      {{ event.content }}<span *ngIf="event.contentCut">... (message was truncated)</span><br />
      <br /><span *ngIf="repliesTo(event) as replies" class="dimmed"
        >
        <span *ngIf="replies.length > 0">Replying to </span>
        <app-reply-list [keys]="replies" ></app-reply-list>
      </span>
      <br />
    </div> -->
  </div>
</div>
<mat-divider></mat-divider>

<div class="page" *ngIf="!thread.events$">
  <h3 class="marginless">Loading thread... this can take some seconds.</h3>
</div>

<div *ngIf="!thread.after$">NO ITEMS!</div>

<mat-progress-bar *ngIf="!thread.hasLoaded" mode="indeterminate"></mat-progress-bar>

<div class="feed-page" *ngIf="thread.after$ | async as events">
  <!-- <mat-accordion class="options">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Options</mat-panel-title>
              <mat-panel-description>{{ activeOptions() }}</mat-panel-description>
            </mat-expansion-panel-header>
            <p>
              <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.paused">Pause feed</mat-slide-toggle>
              <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.hideSpam" (ngModelChange)="optionsUpdated()">Hide spam</mat-slide-toggle>
              <mat-slide-toggle class="options-slider" [(ngModel)]="settings.options.hideInvoice" (ngModelChange)="optionsUpdated()">Hide LN invoices</mat-slide-toggle>
  
            </p>
          </mat-expansion-panel>
        </mat-accordion> -->

  <mat-card class="events" *ngFor="let event of events; trackBy: trackByFn">
    <span>
      <div class="events-header">
        <app-event-header [pubkey]="event.pubkey"
        ><span class="event-date">{{ event.created_at | ago }}</span> <app-directory-icon [pubkey]="event.pubkey"></app-directory-icon
          ></app-event-header>
          <app-profile-actions [event]="event" [pubkey]="event.pubkey"></app-profile-actions>
      </div>
      <app-content [event]="event"></app-content>
      <!-- <div class="content">{{ event.content }}<span *ngIf="event.contentCut">... (message was truncated)</span></div> -->
    </span>
  </mat-card>
</div>
