<button class="action-button" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon class="action-button-icon">more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="saveNote()" *ngIf="event && !event.saved">
    <mat-icon>bookmark_add</mat-icon>
    <span>Save Note</span>
  </button>

  <button mat-menu-item (click)="removeNote()" *ngIf="event && event.saved">
    <mat-icon>bookmark_remove</mat-icon>
    <span>Remove from Notes</span>
  </button>

  <button mat-menu-item (click)="follow()" *ngIf="!profile?.follow">
    <mat-icon>add_circle</mat-icon>
    <span>Follow</span>
  </button>

  <button mat-menu-item (click)="unfollow()" *ngIf="profile?.follow">
    <mat-icon>remove_circle</mat-icon>
    <span>Unfollow</span>
  </button>

  <button mat-menu-item [matMenuTriggerFor]="categories">
    <mat-icon>supervised_user_circle</mat-icon>
    <span>Move to Circle</span>
  </button>

  <button mat-menu-item [matMenuTriggerFor]="copyMenu">
    <mat-icon>copy_all</mat-icon>
    <span>Copy</span>
  </button>

  <button mat-menu-item (click)="unblock()" *ngIf="profile?.block == true">
    <mat-icon>cancel</mat-icon>
    <span>Unblock</span>
  </button>

  <button mat-menu-item (click)="block()" *ngIf="!profile?.block">
    <mat-icon>block</mat-icon>
    <span>Block</span>
  </button>
</mat-menu>

<mat-menu #categories="matMenu">
  <button *ngFor="let circle of circles" mat-menu-item (click)="copy(getNpub(profile!.pubkey))">
    <mat-icon [style.color]="circle.color">trip_origin</mat-icon>
    <span>{{ circle.name }}</span>
  </button>
</mat-menu>

<mat-menu #copyMenu="matMenu">
  <button mat-menu-item (click)="copy(getNpub(profile!.pubkey))">
    <mat-icon>content_copy</mat-icon>
    <span>Public Key (npub)</span>
  </button>
  <button mat-menu-item (click)="copy(profile!.pubkey)">
    <mat-icon>content_copy</mat-icon>
    <span>Public Key (hex)</span>
  </button>
  <button mat-menu-item (click)="copyProfile()">
    <mat-icon>content_copy</mat-icon>
    <span>Public Profile</span>
  </button>
  <button mat-menu-item (click)="copy(event!.id)">
    <mat-icon>content_copy</mat-icon>
    <span>Note ID</span>
  </button>
  <button mat-menu-item (click)="copyEvent()">
    <mat-icon>content_copy</mat-icon>
    <span>Note</span>
  </button>
</mat-menu>
