.thread-reactions {
  margin-left: 27px;
  padding-left: 1em;
  /* border-left: 2px solid rgba(255, 255, 255, 0.15) !important; */
  padding-bottom: 0.4em;
}
.thread-reaction {
  margin-right: 0.75em;
}
