.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.relay-status-0 {
  color: silver;
}

.relay-status-1 {
  color: green;
}

.relay-status-2 {
  color: orange;
}

.relay-status-3 {
  color: red;
}

.error {
  color: rgb(219, 2, 2);
}

.settings-action-buttons {
  padding-bottom: 1em;
}

.settings-action-buttons button {
  margin-bottom: 1em;
  margin-right: 1em;
}

/* When changing the sidenav-content to flex, the toolbar does not render properly, so a minor hack is needed. */
@media only screen and (max-width: 599px) {
  .settings-action-buttons button {
    width: 100%;
    margin-right: 0;
  }
}

.delete-button {
  margin-top: 0.8em;
}
